@model Discussion
@{
    ViewData["Title"] = "Discussion";

    User? UserInfo = ViewBag.UserInfo;
    User? CreatorInfo = ViewBag.CreatorInfo;
    Discussion? DiscussionInfo = ViewBag.Discussion;
    List<IGrouping<DateTime, DiscussionMessage>>? Messages = ViewBag.Messages;
    string? DiscussionAvatar = ViewBag.DiscussionAvatar;
    int MessagesCount = ViewBag.MessagesCount;
    bool IsMuted = ViewBag.IsThisDiscussionMuted;
    bool AccessValue = ViewBag.AccessValue;
}

<div class="main-sidebar" id="Main_SideBar">
    <div class="d-none">
        <input type="hidden" id="CurrentShortLink_Val" value="@DiscussionInfo.Shortlink" />
        <input type="hidden" id="SentMessagesCount_Val" value="@MessagesCount" />
        <input type="hidden" id="CreatedAt_Val" value="@DiscussionInfo.CreatedAt" />
        <input type="hidden" id="IsPrivate_Val" value="@DiscussionInfo.IsPrivate" />
        <form method="get" asp-controller="Discussion" asp-action="IsShortlinkFree" id="IsShortlinkFree_Form">
            <input type="hidden" name="Id" value="@DiscussionInfo.Id" />
            <input type="hidden" name="Shortlink" id="IDSF_Shortlink_Val" />
        </form>
        <form method="get" asp-controller="DiscussionMessage" asp-action="GetMessageInfo" id="GetMessageInfo_Form">
            <input type="hidden" name="Id" id="GMI_Id_Val" value="0" />           
            <input type="hidden" name="UserId" value="@UserInfo.Id" />           
        </form>
        <form method="post" asp-controller="DiscussionMessage" asp-action="MarkasRead" id="MarkasReadDiscussionMessage_Form">
            <input type="hidden" name="Id" id="MAR_Id_Val" value="0" />
            <input type="hidden" name="UserId" value="@UserInfo.Id" />
        </form>
        <form method="post" asp-controller="Discussion" asp-action="BlockUser" id="BlockTheUserOutFromTheDiscussion_Form">
            <input type="hidden" name="Id" value="@DiscussionInfo.Id" />
            <input type="hidden" name="UserId" id="BU_UserId_Val" value="0" />
        </form>
        <form method="post" asp-controller="Discussion" asp-action="UnblockUser" id="UnblockTheUserOutFromTheDiscussion_Form">
            <input type="hidden" name="Id" value="@DiscussionInfo.Id" />
            <input type="hidden" name="UserId" id="UBU_UserId_Val" value="0" />
        </form>
        <form method="post" asp-controller="Discussion" asp-action="DeleteUser" id="DeleteUserFromDiscussion_Form">
            <input type="hidden" name="Id" value="@DiscussionInfo.Id" />
            <input type="hidden" name="UserId" id="DUFD_Id_Val" value="0" />
        </form>
        <form method="get" asp-controller="User" asp-action="FindByShortname" id="FindUserByShortname_Form">
            <input type="hidden" name="Shortname" id="FBD_Shortname_Val" />
        </form>
    </div>

    <div class="smallside-box-container shadow-standard" id="SetAvatar_Container">
        <div class="header-container p-2 text-center" id="SetAvatar_Container-Header">
            @if(DiscussionInfo.AvatarUrl != null)
            {
                <div class="box-container float-start me-1" id="DeleteCurrentAvatar_Box">
                    <form method="post" asp-controller="Discussion" asp-action="DeleteAvatar" id="DeleteDiscussionAvatar_Form">
                        <input type="hidden" name="Id" value="@DiscussionInfo.Id" />
                        <input type="hidden" name="UserId" value="@UserInfo.Id" />
                        <input type="hidden" name="ImageUrl" value="@DiscussionInfo.AvatarUrl" />
                        <button type="submit" class="btn btn-standard-asset text-danger btn-sm" id="DeleteDiscussionAvatar_SbmtBtn"> <i class="fa-regular fa-trash-can"></i> Delete</button>
                    </form>
                </div>
            }
            else
            {
                <div class="box-container float-start me-1" style="display: none;" id="DeleteCurrentAvatar_Box">
                    <form method="post" asp-controller="Discussion" asp-action="DeleteAvatar" id="DeleteDiscussionAvatar_Form">
                        <input type="hidden" name="Id" value="@DiscussionInfo.Id" />
                        <input type="hidden" name="UserId" value="@UserInfo.Id" />
                        <input type="hidden" name="ImageUrl" value="@DiscussionInfo.AvatarUrl" />
                        <button type="submit" class="btn btn-standard-asset text-danger btn-sm" id="DeleteDiscussionAvatar_SbmtBtn" disabled> <i class="fa-regular fa-trash-can"></i> Delete</button>
                    </form>
                </div>
            }
            <button type="button" class="btn btn-close btn-smallside-close btn-sm rounded-circle float-end ms-1" aria-label="close" id="SetAvatar_Container-Close"></button>
            <h5 class="h5 text-truncate" id="ProfilePhoto-Header">Discussion Photo</h5>
        </div>
        <div class="box-container p-2 pt-1 mt-1" id="SetAvatar_Container-Box">
            <div class="bordered-container text-center p-2">
                <h4 class="h4 text-primary"> <i class="fa-regular fa-images"></i> </h4>
                @if(DiscussionInfo.AvatarUrl == null)
                {
                    <h5 class="h5" id="UploadedFileName_Lbl">Upload Your Image</h5>
                }
                else
                {
                    <h5 class="h5" id="UploadedFileName_Lbl">@DiscussionInfo.AvatarUrl</h5>
                }
                <small class="card-text text-muted">edit the avatar of this discussion by setting a fancy one</small>
                <div>
                    <form method="post" asp-controller="Discussion" asp-action="SetAvatar" enctype="multipart/form-data" id="SetDiscussionAvatar_Form">
                        <div class="box-container bg-light p-2 mt-2">
                            <div class="d-none">
                                <input type="hidden" name="Id" id="SDA_Id_Val" value="@DiscussionInfo.Id" />
                                <input type="hidden" name="UserId" id="SDA_UserId_Val" value="@UserInfo.Id" />
                            </div>
                            <input type="file" class="d-none invisible" id="SelectaFile_Val" accept=".png, .jpg, .jpeg" name="Image" />
                            <button type="button" class="btn btn-standard btn-file-click w-100" id="SelectaFile_Val-Click"> <i class="fa-solid fa-paperclip"></i> Select a File</button>
                        </div>
                        <div class="box-container mt-2">
                            <button type="submit" class="btn btn-standard-asset btn-primary w-100">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="smallside-box-container shadow-standard overflow-hidden" id="Answers_Container">
        <div class="header-container p-2 text-center" id="Answers_Container-Header">
            <button type="button" class="btn btn-close btn-smallside-close btn-sm rounded-circle float-end ms-1" aria-label="close" id="Answers_Container-Close"></button>
            <span class="h5 text-truncate" id="Answers_Container-Header">Answers</span>
            <div></div>
            <small class="card-text text-muted" id="AnswersCount_Lbl">no answers yet</small>
        </div>
        <div class="box-container p-2 pt-1 mt-1" id="Answers_Container-Box">
            <div class="d-none">
                <input type="hidden" id="AnswersCount_Val" value="0" />
            </div>
            <div class="box-container bg-light shadow-sm p-1" id="AnswerMsgInfo_Box">
                <small class="card-text text-primary fw-500"> <i class="fa-regular fa-message"></i> Answers of</small>
                <div></div>
                <small class="card-text text-muted" id="AnswerMsgText_Lbl">Message Text...</small>
            </div>
            <div class="box-container mt-2" id="AnswersInfo_Box">

            </div>
            <div class="box-container shadow-sm p-1 w-100 bottom-0 mt-1">
                <div class="d-none" id="DDMA_Box">
                    <form method="post" asp-controller="Answer" asp-action="DeleteDiscussionMessageAnswer" id="DeleteDiscussionMessageAnswer_Form">
                        <input type="hidden" name="Id" id="ADDM_Id_Val" value="0" />
                    </form>
                </div>
                <div id="SDMA_Box">
                    <form class="send-answer-variety" method="post" asp-controller="Answer" asp-action="SendDiscussionMessageAnswer" id="SendDiscussionMessageAnswer_Form">
                        <div class="d-none">
                            <input type="hidden" name="Id" id="SDMA_Id_Val" value="0" />
                            <input type="hidden" name="MessageId" id="SDMA_MessageId_Val" value="0" />
                            <input type="hidden" name="DiscussionOrChatId" value="@DiscussionInfo.Id" />
                        </div>
                        <div class="hstack gap-3">
                            <button type="button" class="btn btn-standard text-primary cancel-answer-options" id="CancelAnswerOptions_Btn" style="display: none;"> <i class="fa-solid fa-xmark"></i> </button>
                            <button type="button" class="btn btn-standard text-danger delete-answer-option" id="DeleteAnswerOptions_Btn" style="display: none;"> <i class="fa-regular fa-trash-can"></i> </button>
                            <textarea class="message-form-control w-100" name="Text" id="SDMA_Text_Val" placeholder="Your answer..." rows="1"></textarea>
                            <button type="submit" class="btn btn-standard text-primary btn-sm" id="SDMASbmt_Btn">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="smallside-box-container shadow-standard on-start-position" style="bottom: 0; display: block;" id="DiscussionInfoTooltips_Container">
        <div class="box-container p-3">
            <div class="slider-container" id="DiscussionInfoTooltips_Box-Part0">
                <div class="row">
                    <div class="col col-2 text-center">
                        <h1 class="h1 text-neon-purple"> <i class="fa-regular fa-comment-dots fa-bounce"></i> </h1>
                        <small class="card-text text-muted fw-500">1/7</small>
                    </div>
                    <div class="col col-10">
                        <h5 class="h5">Welcome to Discussions!</h5>
                        <small class="card-text text-muted">Please, spend 3 mins to be aware of <span class="fw-500">discussions</span>. Please, slide to the next tooltip for more info, thank You!</small>
                        <div class="mt-2">
                            <button type="button" class="btn btn-light btn-standard-asset btn-sm" onclick="animatedClose(false, 'DiscussionInfoTooltips_Container', true, true);">Ignore and Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider-container" style="display: none;" id="DiscussionInfoTooltips_Box-Part1">
                <div class="row">
                    <div class="col col-2  text-center">
                        <h1 class="h1"> <i class="fa-solid fa-weight-hanging"></i> </h1>
                        <small class="card-text text-muted fw-500">2/7</small>
                    </div>
                    <div class="col col-10">
                        <h5 class="h5">Designed to be Large</h5>
                        <small class="card-text text-muted">This kind of chats are made for heavy messages with up to 3400 characters each. They may also contain images and the text could be edited via our <span class="fw-500">text editor</span></small>
                    </div>
                </div>
            </div>

            <div class="slider-container" style="display: none;" id="DiscussionInfoTooltips_Box-Part2">
                <div class="row">
                    <div class="col col-2  text-center">
                        <h1 class="h1 text-primary"> <i class="fa-solid fa-users"></i> </h1>
                        <small class="card-text text-muted fw-500">3/7</small>
                    </div>
                    <div class="col col-10">
                        <h5 class="h5">Enough for Every Group</h5>
                        <small class="card-text text-muted">Discussions may contain up to <span class="fw-500">1200</span> members, so no one will miss from your loving hands. Notice that you may add members to any discussion where you insist or other users may become a member of any discussion which is not <span class="fw-500">private</span></small>
                    </div>
                </div>
            </div>

            <div class="slider-container" style="display: none;" id="DiscussionInfoTooltips_Box-Part3">
                <div class="row">
                    <div class="col col-2  text-center">
                        <h1 class="h1 text-neon-purple"> <i class="fa-solid fa-lock fa-beat"></i> </h1>
                        <small class="card-text text-muted fw-500">4/7</small>
                    </div>
                    <div class="col col-10">
                        <h5 class="h5">Secure and Safe</h5>
                        <small class="card-text text-muted">Any message in any discussion is <span class="fw-500">encrypted</span> by our own encription so no one could have access to your discussions and sent messages (even us...). Your messages are only yours and no one else</small>
                    </div>
                </div>
            </div>

            <div class="slider-container" style="display: none;" id="DiscussionInfoTooltips_Box-Part4">
                <div class="row">
                    <div class="col col-2  text-center">
                        <h1 class="h1"> <i class="fa-solid fa-spinner fa-spin-pulse"></i> </h1>
                        <small class="card-text text-muted fw-500">5/7</small>
                    </div>
                    <div class="col col-10">
                        <h5 class="h5">Non-Live</h5>
                        <small class="card-text text-muted">Standard discussions are not <span class="fw-500">live</span>, so you can't act with other users like in real-time chat. For that reasons we recommend you to create <span class="fw-500">live discussions</span>. They are similar to standard ones but with live chatting ability</small>
                    </div>
                </div>
            </div>

            <div class="slider-container" style="display: none;" id="DiscussionInfoTooltips_Box-Part5">
                <div class="row">
                    <div class="col col-2  text-center">
                        <h1 class="h1 text-primary"> <i class="fa-solid fa-scroll"></i> </h1>
                        <small class="card-text text-muted fw-500">6/7</small>
                    </div>
                    <div class="col col-10">
                        <h5 class="h5">Free to Use</h5>
                        <small class="card-text text-muted">You've an exclusive ability to create <span class="fw-500">shortcuts</span>, <span class="fw-500">scripts</span> or even edit your text by <span class="fw-500">text editor</span> to make it more interesting. Explore the abilities of <span class="fw-500">shortcuts</span> by <a class="text-primary text-decoration-none" asp-controller="Home" asp-action="Toolbox">this link</a></small>
                    </div>
                </div>
            </div>

            <div class="slider-container" style="display: none;" id="DiscussionInfoTooltips_Box-Part6">
                <div class="row">
                    <div class="col col-2  text-center">
                        <h1 class="h1 text-neon-purple"> <i class="fa-regular fa-circle-check"></i> </h1>
                        <small class="card-text text-muted fw-500">7/7</small>
                    </div>
                    <div class="col col-10">
                        <h5 class="h5">That's All</h5>
                        <small class="card-text text-muted">Thank You for reading this simple tooltips. We hope it helped you to become more informed about <span class="fw-500">discussions</span></small>
                        <div class="mt-2">
                            <button type="button" class="btn btn-light btn-standard-asset btn-sm" onclick="animatedClose(false, 'DiscussionInfoTooltips_Container', true, true);">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="border-top mt-1 p-1 w-100">
            <div class="w-75 text-center mx-auto">
                <div class="d-none">
                    <input type="hidden" id="DiscussionInfoTooltips_Box-StepVal" value="0" />
                    <input type="hidden" id="DiscussionInfoTooltips_Box-MaxStepVal" value="6" />
                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-standard btn-sm btn-slide-to-prev w-100" id="DiscussionInfoTooltips_Box-PrevSlide" disabled> <i class="fa-solid fa-arrow-left"></i> Previous</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-standard btn-sm btn-slide-to-next w-100" id="DiscussionInfoTooltips_Box-NextSlide">Next <i class="fa-solid fa-arrow-right"></i> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-container mh-max shadow-standard" id="Preloaded_Container">
    <div class="box-container p-2" style="display: none; margin-left: -1200px;" id="Preloaded_Container_ShowBox">
        <div class="box-container text-center">
            <button type="button" class="btn btn-light btn-standard-asset btn-sm float-start me-1 discussion-header-return" id="Preloaded_Container_ShowBox-Return">Back</button>
            @if(AccessValue) 
            {
                if (ViewBag.MembersCount < 1200)
                {
                    <button type="button" class="btn btn-light btn-standard-asset btn-sm float-end ms-1 btn-slide-to-right" id="AddMember_Container-Open"> <i class="fa-solid fa-user-plus"></i> Add Member</button>
                }
                else
                {
                    <button type="button" class="btn btn-light btn-standard-asset btn-sm float-end ms-1" id="AddMember_Container-Open" style="display: none;" disabled> <i class="fa-solid fa-user-plus"></i> Add Member</button>
                }
            }
            @if (DiscussionInfo.AvatarUrl == null)
            {
                <div class="image-picture-none-container text-center bg-light mx-auto" id="UnpicturedAvatar_Box">
                    <div class="unpictured-container-label" id="UnpicturedAvatar_Lbl">@DiscussionAvatar</div>
                </div>
                <div class="image-container mx-auto text-center" style="display: none;" id="PicturedAvatar_Box">
                    <img class="image-container" src="#" alt="Cannot display this image now" id="DiscussionAvatar_Img" />
                </div>
            }
            else
            {
                <div class="image-picture-none-container text-center bg-light mx-auto" id="UnpicturedAvatar_Box" style="display: none;">
                    <div class="unpictured-container-label" id="UnpicturedAvatar_Lbl"></div>
                </div>
                <div class="image-container mx-auto text-center" id="PicturedAvatar_Box">
                    <img class="image-container" src="/DiscussionAvatars/@DiscussionAvatar" alt="Cannot display this image now" id="DiscussionAvatar_Img" />
                </div>
            }
            <span class="h3 mt-1" id="DiscussionName_Lbl">@DiscussionInfo.Name</span>
            <div></div>
            <small class="card-text text-muted" id="DiscussionShortlink_Lbl">@@@DiscussionInfo.Shortlink</small>
            @if(DiscussionInfo.IsPrivate)
            {
                <div></div>
                <span class="card-text text-orange"> <i class="fa-solid fa-lock"></i> Private</span>
            }
        </div>
        @if (AccessValue)
        {
            <div class="box-container mt-3">
                <div class="row">
                    <div class="col">
                        <div>
                            <form method="get" asp-controller="Discussion" asp-action="GetMembersInfo" id="GetMembersInfo_Form">
                                <input type="hidden" name="Id" value="@DiscussionInfo.Id" />
                                <button type="submit" class="btn btn-standard-asset btn-light w-100" id="GetMembersInfo_SbmtBtn"> <i class="fa-solid fa-users"></i> <br />Members</button>
                            </form>
                        </div>
                    </div>
                    <div class="col">
                        @if (IsMuted)
                        {
                            <div id="UnmuteTheDiscussion_Box">
                                <form method="post" asp-controller="Discussion" asp-action="Unmute" id="UnmuteTheDiscussion_Form">
                                    <div class="d-none">
                                        <input type="hidden" name="Id" value="@DiscussionInfo.Id" />
                                        <input type="hidden" name="UserId" value="@UserInfo.Id" />
                                    </div>
                                    <button type="submit" class="btn btn-standard-asset btn-light w-100"> <i class="fa-regular fa-bell" style="--fa-animation-duration: 2.3s;"></i> <br />Unmute</button>
                                </form>
                            </div>
                            <div id="MuteTheDiscussion_Box" style="display: none;">
                                <form method="post" asp-controller="Discussion" asp-action="Mute" id="MuteTheDiscussion_Form">
                                    <div class="d-none">
                                        <input type="hidden" name="Id" value="@DiscussionInfo.Id" />
                                        <input type="hidden" name="UserId" value="@UserInfo.Id" />
                                    </div>
                                    <button type="submit" class="btn btn-standard-asset btn-light w-100"> <i class="fa-regular fa-bell-slash"></i> <br />Mute</button>
                                </form>
                            </div>
                        }
                        else
                        {
                            <div id="UnmuteTheDiscussion_Box" style="display: none;">
                                <form method="post" asp-controller="Discussion" asp-action="Unmute" id="UnmuteTheDiscussion_Form">
                                    <div class="d-none">
                                        <input type="hidden" name="Id" value="@DiscussionInfo.Id" />
                                        <input type="hidden" name="UserId" value="@UserInfo.Id" />
                                    </div>
                                    <button type="submit" class="btn btn-standard-asset btn-light w-100"> <i class="fa-regular fa-bell" style="--fa-animation-duration: 2.3s;"></i> <br />Unmute</button>
                                </form>
                            </div>
                            <div id="MuteTheDiscussion_Box">
                                <form method="post" asp-controller="Discussion" asp-action="Mute" id="MuteTheDiscussion_Form">
                                    <div class="d-none">
                                        <input type="hidden" name="Id" value="@DiscussionInfo.Id" />
                                        <input type="hidden" name="UserId" value="@UserInfo.Id" />
                                    </div>
                                    <button type="submit" class="btn btn-standard-asset btn-light w-100"> <i class="fa-regular fa-bell-slash"></i> <br />Mute</button>
                                </form>
                            </div>
                        }
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-standard-asset btn-light w-100" data-bs-toggle="collapse" data-bs-target="#EditDiscussionInfo_Box" aria-expanded="false" aria-controls="EditDiscussionInfo_Box"> <i class="fa-regular fa-pen-to-square"></i> <br />Edit</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-standard-asset btn-light w-100" id="DI_LoadAdditionalInfo_Btn"> <i class="fa-solid fa-ellipsis"></i> <br />More</button>
                    </div>
                </div>
                <div class="box-container mt-1">
                    <button type="button" class="btn btn-light btn-standard-asset w-100 btn-smallside-open-container" id="SetAvatar_Container-Open"> <i class="fa-regular fa-images"></i> Change Avatar</button>
                </div>
            </div>
        }
        else
        {
            <div class="box-container mt-3">
                <div class="row">
                    <div class="col">
                        <div>
                            <button type="button" class="btn btn-standard-asset btn-light w-100"> <i class="fa-regular fa-lightbulb"></i> <br/> About Private Ones</button>
                        </div>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-standard-asset btn-light w-100 btn-slide-to-right" id="DiscussionAdditionalInfo_Container-Open"> <i class="fa-solid fa-ellipsis"></i> <br />More</button>
                    </div>
                </div>
            </div>
        }
        <div class="box-container mt-2">
            <div class="bordered-container p-2">
                <small class="card-text text-muted fw-500">Description</small>
                <div></div>
                @if (DiscussionInfo.Description != null)
                {
                    <small class="card-text white-space-on" id="DiscussionDescription_Lbl">@DiscussionInfo.Description</small>
                }
                else
                {
                    <small class="card-text white-space-on" id="DiscussionDescription_Lbl">No description</small>
                }
            </div>
            <div class="bordered-container p-2 mt-1">
                <small class="card-text text-muted fw-500">Shortlink</small>
                <div></div>
                <small class="card-text" id="ShortlinkAdditional_Lbl">@@<span class="user-select-all" id="DiscussionInfo_ShortLink_Span">@DiscussionInfo.Shortlink</span></small>
            </div>
        </div>
        <div class="box-container">
            <div class="collapse" id="EditDiscussionInfo_Box">
                <div class="bordered-container mt-2 p-2">
                    <h6 class="h6 ms-1">Edit Discussion's Info</h6>
                    <div class="box-container mt-3">
                        <form method="post" asp-controller="Discussion" asp-action="Edit" id="EditDiscussion_Form">
                            <div class="d-none">
                                <input type="hidden" name="Id" value="@DiscussionInfo.Id" />
                                <input type="hidden" name="UserId" value="@UserInfo.Id" />
                            </div>
                            <div class="form-floating">
                                <input asp-for="Name" autocomplete="off" class="form-control shadow-none" value="@DiscussionInfo.Name" placeholder="Discussion's name is required" maxlength="100" />
                                <label asp-for="Name" class="fw-500">Name</label>
                            </div>
                            <div class="form-floating mt-3">
                                <input asp-for="Shortlink" id="DiscussionShortlink_Val" autocomplete="off" class="form-control shadow-none strong-input" value="@DiscussionInfo.Shortlink" placeholder="Discussion's shortlink is required" maxlength="20" />
                                <label asp-for="Shortlink" class="fw-500">Shortlink(@@)</label>
                            </div>
                            <div class="ms-1">
                                <small class="card-text text-muted" id="ShortLinkFreedomness_Lbl">Required characters for shortlink are: [A-Z, a-z], [0-9] and [_]. Required shortlink length: from 4 and up to 20 characters</small>
                            </div>
                            <div class="form-floating mt-3">
                                <textarea id="DiscussionDescription" name="Description" autocomplete="off" rows="4" style="height: 150px;" class="form-control shadow-none" placeholder="Any important information about your discussion" maxlength="600">@DiscussionInfo.Description</textarea>
                                <label for="DiscussionDescription" class="fw-500">Description</label>
                            </div>
                            <div class="mt-2">
                                <button type="submit" class="btn btn-standard text-primary w-100" id="DiscussionInfoEdit_SbmtBtn">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="bordered-container p-2 mt-2" style="display: none; margin-left: -1200px;" id="MembersInfoMain_Container">
            <h6 class="h6" id="MembersCount_Lbl"></h6>
            <div class="d-none">
                <form method="post" asp-controller="Discussion" asp-action="ChangeAccessLevel" id="ChangeAccessLevel_Form">
                    <input type="hidden" name="Id" value="@DiscussionInfo.Id" />
                    <input type="hidden" name="UserId" id="EAL_UserId_Val" value="0" />
                    <input type="hidden" name="ChangerId" id="EAL_ChangerId_Val" value="0" />
                    <input type="hidden" name="AccessLevel" id="EAL_AccessLevel_Val" value="0" />
                </form>
            </div>
            <div class="mt-1" id="MembersInfo_Container">

            </div>
        </div>
        <div class="bordered-container p-2 mt-1" style="display: none; margin-left: -1200px;" id="DiscussionAdditionalInfo_Container">
            <button type="button" class="btn btn-light btn-standard-asset btn-sm btn-slide-to-left" id="DiscussionAdditionalInfo_Container-Close">Close</button>
            <h6 class="h6 ms-1 d-inline" id="AdditionalInfoHeader_Lbl">Additional Information</h6>
             <div class="mt-1" id="AdditionalInfo_Container">
            </div>
            <div class="box-container mt-3">
                @if (UserInfo.Id == DiscussionInfo.CreatorId)
                {
                    <div class="box-container">
                        <form method="post" asp-controller="Discussion" asp-action="Delete" id="DeleteTheDiscussion_Form">
                            <input type="hidden" name="Id" value="@DiscussionInfo.Id" />
                            <input type="hidden" name="UserId" value="@UserInfo.Id" />
                            <input type="hidden" name="DiscussionName" value="@DiscussionInfo.Name" />
                            <button type="submit" class="btn btn-danger btn-standard-asset btn-sm w-100" id="DeleteTheDiscussion_SbmtBtn"> <i class="fa-regular fa-square-minus"></i> Delete Discussion</button>
                        </form>
                    </div>
                }
                else
                {
                    @if (AccessValue)
                    {
                        <div class="box-container">
                            <form method="post" asp-controller="Discussion" asp-action="Leave" id="LeaveTheDiscussion_Form">
                                <input type="hidden" name="Id" value="@DiscussionInfo.Id" />
                                <button type="submit" class="btn btn-standard w-100 btn-sm" id="LeaveTheDiscussion_SbmtBtn"> <i class="fa-regular fa-square-minus"></i> Leave Discussion</button>
                            </form>
                        </div>
                    }
                    else
                    {
                        <div class="box-container">
                            <form method="post" asp-controller="Discussion" asp-action="Leave" id="LeaveTheDiscussion_Form">
                                <input type="hidden" name="Id" value="@DiscussionInfo.Id" />
                                <button type="submit" class="btn btn-standard w-100 btn-sm" id="LeaveTheDiscussion_SbmtBtn" disabled> <i class="fa-regular fa-square-minus"></i> Leave Discussion</button>
                            </form>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="box-container p-1 ps-0 pe-0 mt-2" style="display: none; margin-left: -1200px;" id="AddMember_Container">
            <div class="box-container">
                <div class="d-none">
                    <form method="post" asp-controller="Discussion" asp-action="AddMember" id="AddMemberToDiscussion_Form">
                        <input type="hidden" name="Id" value="@DiscussionInfo.Id" />
                        <input type="hidden" name="AdderId" value="@UserInfo.Id" />
                        <input type="hidden" name="UserId" id="AddMember_UserId_Val" value="0" />
                    </form>
                </div>
                <div>
                    <form method="get" asp-controller="User" asp-action="FindToAdd" id="FindUsersToAdd_Form">
                        <div class="box-container">
                            <input type="text" class="form-control shadow-none form-control-check-input w-100" data-bs-html="FindUsers_SbmtBtn" data-bs-min-length="1" autocomplete="off" placeholder="Search" name="Keyword" id="FindUsers_Keyword_Val" />
                        </div>
                        <div class="box-container mt-2">
                            <div class="row">
                                <div class="col col-7">
                                    <button type="submit" class="btn btn-primary w-100 btn-standard-asset shadow-none btn-sm" id="FindUsers_SbmtBtn" disabled>Search</button>
                                </div>
                                <div class="col col-5">
                                    <button type="button" class="btn btn-light w-100 btn-standard-asset shadow-none btn-sm btn-slide-to-left" id="AddMember_Container-SlideToLeft">Close</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="bordered-container p-2 mt-2" id="FindUsersResults_Box">
                <div class="box-container text-center">
                    <p class="card-text text-muted"> <i class="fa-solid fa-magnifying-glass"></i> Find members to add them to this discussion</p>
                </div>
            </div>
        </div>
    </div>
    <div class="header-container special-container-header p-2 bg-light" id="Preloaded_Container-Header">
        <span class="h5 text-truncate p-1 discussion-header" id="Preloaded_Container_ShowBox-Open">@DiscussionInfo.Name</span>
        <div></div>
        @if(IsMuted)
        {
            <small class="card-text text-muted ms-1 btn-set-status" id="DiscussionStatusBar_Lbl"><span class="card-text text-muted" id="IsMutedHeader_Span"> <i class="fa-regular fa-bell-slash"></i> </span><span class="status-slider" id="StatusBar_Lbl-0">@ViewBag.MembersCount.ToString("N0") member(s)</span><span class="status-slider" id="StatusBar_Lbl-1" style="display: none;">@MessagesCount messages</span><span class="status-slider" id="StatusBar_Lbl-2" style="display: none;">@DiscussionInfo.Status</span></small>
        }
        else
        {
            <small class="card-text text-muted ms-1 btn-set-status" id="DiscussionStatusBar_Lbl"><span class="card-text text-muted" id="IsMutedHeader_Span" style="display: none;"></span><span class="status-slider" id="StatusBar_Lbl-0">@ViewBag.MembersCount.ToString("N0") member(s)</span><span class="status-slider" id="StatusBar_Lbl-1" style="display: none;">@MessagesCount messages</span><span class="status-slider" id="StatusBar_Lbl-2" style="display: none;">@DiscussionInfo.Status</span></small>
        }
    </div>
    <div class="box-container p-2 pt-1 mt-1 discussion-box" id="Preloaded_Container-Box">
        <div class="box-container" id="Messages_Container_Box">
            <div class="box-container p-3 pt-4 pb-4 bg-light mt-2 mb-2 text-center mx-auto my-auto" style="display: none;" id="NoSentMessages_Box">
                <h1 class="h1"> <i class="fa-regular fa-comment-dots"></i> </h1>
                <h3 class="h3 style-font">No Sent Messages</h3>
                <small class="card-text text-muted">be the first one who've sent a message in this discussion</small>
            </div>
            @if (Messages == null)
            {
                <div id="DiscussionMessages_MainBox">
                    <div class="box-container p-3 pt-4 pb-4 bg-light mt-2 mb-2 text-center mx-auto my-auto" id="Presentation_Box">
                        <h1 class="h1"> <i class="fa-solid fa-quote-left fa-bounce text-neon-purple"></i> </h1>
                        <h3 class="h3 style-font">Meet the Discussions!</h3>
                        <small class="card-text text-muted">a very new way for sending and receiving messages from a large group of people. <a asp-controller="Home" asp-action="Toolbox" class="card-text text-decoration-none text-primary">Learn more</a> about discussions...</small>
                        <div class="mt-2 text-center">
                            <button type="button" class="btn btn-standard btn-hide" data-bs-title="NoSentMessages_Box" id="Presentation_Box-Hide">Got It</button>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div id="DiscussionMessages_MainBox">
                    @foreach (var Key in Messages)
                    {
                        <div class="grouping-box mx-auto text-center">
                            <small class="card-text text-muted">@Key.Key.ToString("d/MM, dddd")</small>
                        </div>
                        @foreach(DiscussionMessage message in Key) 
                        {
                            @if (message.UserId == UserInfo.Id)
                            {
                                <div class="message-box" id="@message.Id-DiscussionMsgBox">
                                    <div class="cur-user-msg-box" id="@message.Id-DiscussionMsgNmBox">
                                        <div class="cur-user-styled-msg-box p-2" id="@message.Id-DiscussionMsgStyledBox">
                                            @if (message.RepliedMessageId != null)
                                            {
                                                <div class="cur-user-reply-container mb-1 discussion-options reply-element" id="@message.Id-DiscussionMsgReplyBox" data-bs-msg-id="@message.Id">
                                                    <small class="card-text fw-500 discussion-options reply-element" id="@message.RepliedMessageId-DiscussionMsgReplyIcon" data-bs-msg-id="@message.Id"> <i class="fa-solid fa-reply"></i> Replied to</small>
                                                    <p class="card-text white-space-on message-label discussion-options reply-element" id="@message.RepliedMessageId-DiscussionMsgReplyText" data-bs-msg-id="@message.Id">@message.RepliesMsgShortText</p>
                                                </div>
                                            }
                                            @if(message.IsAutoDeletable > 0)
                                            {
                                                <small class="card-text"> <i class="fa-solid fa-clock-rotate-left"></i> @message.IsAutoDeletable mins</small>
                                            }
                                            @if(message.MainImgUrl != null)
                                            {
                                                <div></div>
                                                <button type="button" class="btn btn-link btn-sm">@message.ImagesCount Images in Pack <i class="fa-solid fa-angle-right"></i> </button>
                                                <div class="box-container mt-1 mb-1">
                                                    <img class="msg-img-container" src="~/DiscussionMessageImages/@message.MainImgUrl" alt="Cannot display this message" />
                                                </div>
                                            }
                                            <p class="card-text white-space-on message-label discussion-options" id="@message.Id-DiscussionOptionMsgText_Lbl">@message.Text</p>
                                        </div>
                                        <div class="float-end me-1" id="@message.Id-DiscussionMsgStatsBox">
                                            @if (message.IsChecked)
                                            {
                                                <small class="card-text text-primary"> <i class="fa-solid fa-check-double"></i> </small>
                                            }
                                            else
                                            {
                                                <small class="card-text text-muted discussion-options" id="@message.Id-DiscussionMsgDateNTimeInfo_Lbl" data-bs-msg-id="@message.Id"> <i class="fa-solid fa-check"></i> </small>
                                            }
                                            <small class="card-text text-muted">@message.SentAt.ToShortTimeString()</small>
                                            @if(message.IsEdited)
                                            {
                                                <small class="card-text text-muted" id="@message.Id-DiscussionMessageIsEdited_Lbl">edited</small>
                                            }
                                            else
                                            {
                                                <small class="card-text text-muted" style="display: none;" id="@message.Id-DiscussionMessageIsEdited_Lbl">edited</small>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="message-box">
                                    <div class="other-user-msg-box">
                                        <div class="other-user-styled-msg-box p-2" id="@message.Id-ReplyToDiscussionMessageViaDiscussionMessage">
                                            @if (message.RepliedMessageId != null)
                                            {
                                                /*Edit reply message sending via ajax*/
                                                <div class="other-user-reply-container mb-1 reply-to-discussion-message reply-element" id="@message.Id-DiscussionMsgReplyBox" data-bs-msg-id="@message.Id">
                                                    <small class="card-text fw-500 reply-to-discussion-message reply-element" id="@message.Id-DiscussionMsgReplyIcon" data-bs-msg-id="@message.Id"> <i class="fa-solid fa-reply"></i> Replied to</small>
                                                    <p class="card-text reply-to-discussion-message message-label white-space-on reply-element" id="@message.Id-DiscussionMsgReplyText" data-bs-msg-id="@message.Id">@message.RepliesMsgShortText</p>
                                                </div>
                                            }
                                            @if (message.IsAutoDeletable > 0)
                                            {
                                                <small class="card-text pt-0"> <i class="fa-solid fa-clock-rotate-left"></i> @message.IsAutoDeletable mins</small>
                                            }
                                            @if (message.MainImgUrl != null)
                                            {
                                                <div></div>
                                                <button type="button" class="btn btn-link-opp btn-sm">@message.ImagesCount Images in Pack <i class="fa-solid fa-angle-right"></i> </button>
                                                <div class="box-container mt-1 mb-1">
                                                    <img class="msg-img-container" src="~/DiscussionMessageImages/@message.MainImgUrl" alt="Cannot display this message" />
                                                </div>
                                            }
                                            <p class="card-text white-space-on message-label reply-to-discussion-message" id="@message.Id-DiscussionOptionMsgText_Lbl">@message.Text</p>
                                        </div>
                                        <div class="ms-1">
                                            <small class="card-text text-muted">@message.SentAt.ToShortTimeString()</small>
                                            @if (message.IsEdited)
                                            {
                                                <small class="card-text text-muted">edited</small>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            }

            <div class="messages-container bordered-container overflow-hidden p-2 shadow-sm" style="display: none; margin-bottom: -1200px; background-color: transparent;" id="DiscussionOptions_Box">
                <div class="box-container">
                    <div class="d-none">
                        <input type="hidden" class="got-msg-id-value" id="CurrentGotDiscussionMsg_Id_Val" value="0" />
                    </div>
                    <button type="button" class="btn btn-standard btn-sm copy-to-clipboard float-end" id="DiscussionOptionMessageText_Lbl-CopyToTheClipboard"> <i class="fa-regular fa-copy text-primary"></i> Copy</button>
                    <small class="card-text text-muted got-msg-datetime" id="DiscussionOptionAdditionalInfo_Lbl">sent date, time, is checked and edited</small>
                    <div class="mt-1">
                        <button type="button" class="btn btn-standard btn-sm delete-message-options" id="DiscussionOptions_Box-Close"> <i class="fa-solid fa-xmark text-primary"></i> Cancel</button>
                        <small class="card-text got-msg-text" id="DiscussionOptionMessageText_Lbl">Message Text</small>
                    </div>
                </div>
                <div class="box-container mt-1">
                    <div class="row mt-2">
                        <div class="col" id="EditDiscussionMsg_Col">
                            <button type="button" class="btn btn-standard btn-sm w-100" id="EditDiscussionMessage_Btn"> <i class="fa-regular fa-pen-to-square text-primary"></i> Edit</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-standard btn-sm w-100" id="ReplyDiscussionMessage_Btn"> <i class="fa-solid fa-reply text-primary"></i> Reply</button>
                        </div>
                        <div class="col">
                            <div>
                                <form method="get" asp-controller="Answer" asp-action="GetDiscussionMessageAnswers" id="GetDiscussionMessageAnswers_Form">
                                    <div class="d-none">
                                        <input type="hidden" name="Id" id="GDMA_Id_Val" value="0" />
                                        <input type="hidden" name="UserId" id="GDMA_UserId_Val" value="0" />
                                        <input type="hidden" name="SkipCount" id="GDMA_SkipCount_Val" value="0" />
                                        <input type="hidden" name="MessageText" id="GDMA_MsgText_Val" />
                                    </div>
                                    <button type="submit" class="btn btn-standard btn-sm w-100" id="GDMASbmt_Btn"> <i class="fa-solid fa-feather-pointed text-primary"></i> Answer</button>
                                </form>
                            </div>
                        </div>
                        <div class="col" id="DeleteDiscussionMsg_Col">
                            <form method="post" asp-controller="DiscussionMessage" asp-action="Delete" id="DeleteDiscussionMessage_Form">
                                <input type="hidden" name="Id" id="DDM_Id_Val" value="0" />
                                <input type="hidden" name="DiscussionId" value="@DiscussionInfo.Id" />
                                <button type="submit" class="btn btn-standard btn-sm text-danger w-100" id="DeleteDiscussionMessageSbmt_Btn"> <i class="fa-regular fa-trash-can"></i> Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="messages-container bg-light box-container overflow-hidden p-2 shadow-sm" style="display: none; margin-bottom: -1200px;" id="MainTextEditor_Box">
                <div class="box-container">
                    <div class="box-container d-inline-block w-100">
                        <button type="button" class="btn btn-sm btn-standard text-editor me-1 mt-1" id="0-TextEditorStyle" data-bs-paste-to="SendDiscussionMessage_Text_Val"> <i class="fa-solid fa-bold"></i> </button>
                        <button type="button" class="btn btn-sm btn-standard text-editor me-1 mt-1" id="1-TextEditorStyle" data-bs-paste-to="SendDiscussionMessage_Text_Val"> <i class="fa-solid fa-italic" id="1-TextEditorStyle"></i> </button>
                        <button type="button" class="btn btn-sm btn-standard text-editor me-1 mt-1" id="2-TextEditorStyle" data-bs-paste-to="SendDiscussionMessage_Text_Val"> <i class="fa-solid fa-underline" id="2-TextEditorStyle"></i> </button>
                        <button type="button" class="btn btn-sm btn-standard text-editor me-1 mt-1" id="3-TextEditorStyle" data-bs-paste-to="SendDiscussionMessage_Text_Val"> <i class="fa-solid fa-font" id="3-TextEditorStyle"></i> </button>
                        <button type="button" class="btn btn-sm btn-standard me-1 mt-1 set-style" id="4-SetStyle"> <i class="fa-solid fa-palette"></i> </button>
                        <button type="button" class="btn btn-sm btn-standard me-1 mt-1 set-style" id="5-SetStyle"> <i class="fa-solid fa-link"></i> </button>
                        <button type="button" class="btn btn-sm btn-standard me-1 mt-1 set-style" id="6-SetStyle"> <i class="fa-regular fa-message"></i> </button>
                        <button type="button" class="btn btn-sm btn-standard me-1 mt-1 set-style" id="7-SetStyle"> <i class="fa-regular fa-note-sticky"></i> </button>
                        <button type="button" class="btn btn-sm btn-standard me-1 mt-1"> <i class="fa-regular fa-copy"></i> </button>
                    </div>
                    <div class="mt-2">
                        <button class="btn btn-standard btn-sm auto-delete-on" type="button" data-bs-toggle="collapse" data-bs-target="#AutoDeleteOptions_Collapse" aria-expanded="false" aria-controls="AutoDeleteOptions_Collapse" id="SendMessage_IsAutoDeletable-TurnOnOrOff"> <i class="fa-solid fa-clock-rotate-left"></i> Auto-Deletable Message</button>
                        <div class="ms-1">
                            <small class="card-text text-muted">Message will be automatically deleted after being marked as read when a certain time period has been passed</small>
                        </div>
                        <div class="collapse" id="AutoDeleteOptions_Collapse">
                            <div class="box-container mt-1">
                                <button type="button" class="btn btn-light bg-primary text-light btn-standard-asset btn-sm set-autodelete-duration mt-1" id="1-MinsSet_Btn">Immediately</button>
                                <button type="button" class="btn btn-light bg-white btn-standard-asset btn-sm set-autodelete-duration mt-1" id="3-MinsSet_Btn">3 minutes</button>
                                <button type="button" class="btn btn-light bg-white btn-standard-asset btn-sm set-autodelete-duration mt-1" id="15-MinsSet_Btn">15 minutes</button>
                                <button type="button" class="btn btn-light bg-white btn-standard-asset btn-sm set-autodelete-duration mt-1" id="60-MinsSet_Btn">1 hour</button>
                                <button type="button" class="btn btn-light bg-white btn-standard-asset btn-sm set-autodelete-duration mt-1" id="720-MinsSet_Btn">12 hours</button>
                                <button type="button" class="btn btn-light bg-white btn-standard-asset btn-sm set-autodelete-duration mt-1" id="1440-MinsSet_Btn">1 day</button>
                                <button type="button" class="btn btn-light bg-white btn-standard-asset btn-sm set-autodelete-duration mt-1" id="10080-MinsSet_Btn">1 week</button>
                            </div>
                        </div>
                    </div>
                    <div class="box-container text-center mt-2">
                        <button type="button" class="btn btn-standard btn-close-inside-box btn-sm w-100" id="MainTextEditor_Box-Close"> <i class="fa-solid fa-xmark"></i> Close</button>
                    </div>
                </div>
            </div>

            <div class="messages-container bordered-container overflow-hidden p-2 shadow-sm" style="display: none; margin-bottom: -1200px; background-color: transparent;" id="CommandLine_Box">
                <div class="box-container">
                    <div class="d-none">
                        <form method="get" asp-controller="Command" asp-action="GetDiscussionCommands" id="GetDiscussionCommands_Form">
                            <input type="hidden" name="Id" value="@DiscussionInfo.Id" />
                        </form>
                    </div>
                    <button type="button" class="btn btn-close-inside-box shadow-none btn-standard btn-sm float-end ms-1" id="CommandLine_Box-Close" aria-label="close">Close</button>
                    <span class="h5 text-truncate">Command Line</span>
                    <div></div>
                    <small class="card-text text-muted" id="CurrentCommand_Lbl">/current_command</small>
                    <div class="bordered-container p-2 mt-2" style="display: none;" id="CreateCommand_Box">
                        <h6 class="h6">Create a Command</h6>
                        <div class="border-top pt-1 mt-2"></div>
                        <div class="box-container">
                            <form method="post" asp-controller="Command" asp-action="CreateDiscussionCommand" id="CreateDiscussionCommand_Form">
                                <div class="d-none">
                                    <input type="hidden" name="Id" value="@DiscussionInfo.Id" />
                                </div>
                                <div>
                                    <label class="form-label fw-500 info-popover ms-1" style="border-bottom: 2px solid orange;" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-custom-class="tooltip-asset-one shadow-sm" data-bs-content="Enter a callname for your command (up to 40 chars). Notice, that your command cannot be one of these: /info, /get, /get_commands, /create, /edit or /edit_@@command_callName. Enter command name without slash and any other symbol (but you may still use the underscore in your command's name)">Callname</label>
                                    <input type="text" class="form-control strong-input" id="CDC_Command" name="Command" placeholder="Enter command's callname" maxlength="40" />
                                </div>
                                <div class="mt-3">
                                    <label class="form-label fw-500 info-popover ms-1">Description</label>
                                    <textarea class="form-control" rows="3" id="CDC_Description" name="Description" placeholder="Enter command's description" maxlength="240"></textarea>
                                </div>
                                <div class="ms-1">
                                    <small class="card-text text-muted">Min. length: <span class="fw-500">4</span> chars, max length: <span class="fw-500">240</span> chars</small>
                                </div>
                                <div class="mt-3">
                                    <label class="form-label fw-500 info-popover ms-1" style="border-bottom: 2px solid orange;" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-custom-class="tooltip-asset-one shadow-sm" data-bs-content="Enter your script by using our API. The documentation about it is at our toolbox page">Script</label>
                                    <textarea class="form-control" rows="4" id="CDC_Code" name="Code" placeholder="Enter command's script" maxlength="4000"></textarea>
                                </div>
                                <div class="mt-2">
                                    <button type="submit" class="btn btn-standard-asset btn-primary btn-sm w-100">Add Command</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="bordered-container p-2 mt-2" style="display: none;" id="CommandsInfo_Box">
                        <h6 class="h6">Main Commands</h6>
                        <div class="border-top pt-1 mt-2"></div>
                        <div class="box-container">
                            <div>
                                <small class="card-text text-muted"><span class="fw-500">/info</span> - opens command line box with the brief commands infotable</small>
                            </div>
                            <div>
                                <small class="card-text text-muted"><span class="fw-500">/create</span>, <span class="fw-500">/create_command</span> - relocates you to the tool page where you can create your new commands</small>
                            </div>
                            <div>
                                <small class="card-text text-muted"><span class="fw-500">/edit_@@command_name_without_slash</span> - opens command line box with selected command that's prepared to be edited. Command example: /edit_clearDiscussion</small>
                            </div>
                            <div>
                                <small class="card-text text-muted"><span class="fw-500">/get</span>, <span class="fw-500">/get_commands</span> - gets all available commands for this current discussion or chat</small>
                            </div>
                        </div>
                        <div class="box-container mt-2" style="display: none;" id="AdditionalCommands_Box">
                            <h6 class="h6">Created Commands</h6>
                            <div class="border-top mt-2 pt-1" id="CreatedAdditionalCommands_Box">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="main-container shadow-standard" id="TextEditorSettings_Container">
    <div class="header-container p-2 text-center" id="TextEditorSettings_Container-Header">
        <button type="button" class="btn btn-close btn-sm float-end rounded-circle ms-1" id="TextEditorSettings_Container-Close"></button>
        <h5 class="h5 text-truncate p-1" id="TextEditorsSettings_HeaderText_Lbl">Text Editor Settings</h5>
    </div>
    <div class="box-container p-2 pt-1 mt-1" id="TextEditorSettings_Container-Box">
        <div class="box-container bg-light p-2">
            <span class="card-text fw-500">Type: <span class="text-muted" id="TES_Type_Span"></span></span>
            <div></div>
            <small class="card-text text-muted">to change the type go back to the previous widget</small>
        </div>
        <div class="mt-2">
            <div class="form-floating">
                <div class="d-none">
                    <input type="hidden" id="TextType_Val" value="0" />
                    <input type="hidden" id="PasteTo_Val" value="SendDiscussionMessage_Text_Val" />
                    <input type="hidden" id="WidgetId_Val" value="Preloaded_Container" />
                </div>
                <input type="text" id="PreparedText1_Val" autocomplete="off" class="form-control shadow-none" placeholder="Enter your text here" />
                <label for="PreparedText1_Val" class="fw-500" id="PreparedText1_Lbl">Prepared Text, 1</label>
            </div>
            <div class="form-floating mt-2">
                <input type="text" id="PreparedText2_Val" autocomplete="off" class="form-control shadow-none" placeholder="Enter your text here" />
                <label for="PreparedText2_Val" class="fw-500" id="PreparedText2_Lbl">Prepared Text, 2</label>
            </div>
            <div class="mt-2">
                <button type="button" class="btn btn-primary w-100 btn-standard-asset" id="AddTextToTheTextEditor_Btn">Add Text</button>
            </div>
        </div>
    </div>
</div>

<div class="fixed-bottom bot-navbar shadow-sm p-2" id="Preloaded_BotOffNavbar">
        @if (AccessValue)
        {
        <div class="box-container p-0" style="display: none;" id="SendMessage_SecondInside_Box">
            @if (!DiscussionInfo.IsPrivate)
            {
                <div>
                    <form method="post" asp-controller="Discussion" asp-action="Join" id="JoinToDiscussion_Form">
                        <input type="hidden" name="Id" value="@DiscussionInfo.Id" />
                        <button type="submit" class="btn btn-standard-asset bg-white btn-lg w-100"> <i class="fa-solid fa-right-to-bracket"></i> Join</button>
                    </form>
                </div>
            }
            else
            {
                <div>
                    <form method="post" asp-controller="Discussion" asp-action="JoinToPrivate" id="JoinToPrivateDiscussion_Form">
                        <div class="hstack gap-2">
                            <input type="hidden" name="Id" value="@DiscussionInfo.Id" />
                            <input type="password" class="message-form-control me-auto form-control-check-input" data-bs-min-length="1" data-bs-html="JoinToPrivateDiscussion_SbmtBtn" name="Password" placeholder="Enter password here" />
                            <button type="submit" class="btn btn-standard-asset bg-white btn-lg w-100" id="JoinToPrivateDiscussion_SbmtBtn" disabled> <i class="fa-solid fa-right-to-bracket"></i> Join</button>
                        </div>
                    </form>
                </div>
            }
        </div>

        <div class="box-container" id="SendMessage_FirstInside_Box">
            <div class="box-container">
                <div class="border-bottom pb-1" id="EditingOrReplying_Box" style="display: none;">
                    <div class="box-container text-start">
                        <small class="card-text fw-500 text-primary" id="EditingOrReplyingMsgStatus_Lbl">Edit Message</small>
                    </div>
                    <div class="hstack gap-3">
                        <h5 class="h5 text-primary mt-1" id="EditingOrReplyingMsgIcon_Lbl"> <i class="fa-regular fa-pen-to-square"></i> </h5>
                        <small class="card-text me-auto" id="EditingOrReplyingMsgText_Lbl">Message Text...</small>
                        <button type="button" class="btn btn-standard-asset text-primary btn-sm" id="CancelDiscussionMessageSettings_Btn"> <i class="fa-solid fa-xmark"></i> </button>
                    </div>
                </div>
                <form class="send-message-variety" method="post" asp-controller="DiscussionMessage" asp-action="Message" enctype="multipart/form-data" id="SendDiscussionMessage_Form">
                    <div class="d-none">
                        <input type="hidden" name="Id" id="EM_Id_Val" value="0" />
                        <input type="hidden" name="MessageId" id="RM_ReplyId_Val" value="0" />
                        <input type="hidden" name="ReplyText" id="RM_ReplyText_Val" value="0" />
                        <input type="hidden" name="DiscussionId" id="SM_DiscussionId_Val" value="@DiscussionInfo.Id" />
                        <input type="hidden" name="UserId" id="SM_UserId_Val" value="@UserInfo.Id" />
                        <input type="hidden" id="SendMessage_IsAutoDeletable" name="IsAutoDeletable" value="0" />
                        <input type="file" class="send-message-files" id="SendMessage_Images_Val" name="Images" accept=".png, .jpg, .jpeg" multiple max="6" />
                    </div>
                    <div class="hstack gap-2">
                        <button type="button" class="btn btn-standard btn-sm return-main-bot-navbar"> <i class="fa-solid fa-chevron-down"></i> </button>
                        <textarea name="Text" id="SendMessage_Text_Val" class="send-message-form-control message-form-control me-auto form-control-check-input w-100 overflow-hidden" rows="1" placeholder="Your message..." maxlength="3400" data-bs-min-length="1" data-bs-html="SendDiscussionMessage_SbmtBtn"></textarea>
                        <button type="button" class="btn btn-message-example btn-sm open-animated-collapse btn-open-inside-box" id="MainTextEditor_Box-Open"> <i class="fa-solid fa-plus btn-open-inside-box" id="MainTextEditor_Box-OpenY"></i> </button>
                        <button type="button" class="btn btn-message-example btn-sm shadow-none me-1" id="SendAFileInMessage_Btn" data-bs-html="SendMessage_Images_Val"> <i class="fa-regular fa-file-image"></i> </button>
                        <button type="submit" class="btn btn-message-example btn-submit-msg-sending btn-sm bg-primary text-light" id="SendDiscussionMessage_SbmtBtn" disabled>Send</button>
                    </div>
                </form>
            </div>
        </div>
        }
        else
        {
        <div class="messages-container box-container shadow-sm bg-light overflow-hidden p-2" id="PreloadedInside_Box">
            <div class="box-container">
                <p class="card-text fs-5">Join to get full access for all the features of this discussion</p>
                <button type="button" class="btn btn-primary btn-standard-asset btn-open-inside-box" id="SendMessage_SecondInside_Box-Open">Click to Start</button>
            </div>
        </div>

        <div class="box-container p-0" style="display: none;" id="SendMessage_SecondInside_Box">
            @if (!DiscussionInfo.IsPrivate)
            {
                <div>
                    <form method="post" asp-controller="Discussion" asp-action="Join" id="JoinToDiscussion_Form">
                        <input type="hidden" name="Id" value="@DiscussionInfo.Id" />
                        <button type="submit" class="btn btn-standard-asset bg-white btn-lg w-100"> <i class="fa-solid fa-right-to-bracket"></i> Join</button>
                    </form>
                </div>
            }
            else
            {
                <div>
                    <form method="post" asp-controller="Discussion" asp-action="JoinToPrivate" id="JoinToPrivateDiscussion_Form">
                        <div class="hstack gap-2">
                            <input type="hidden" name="Id" value="@DiscussionInfo.Id" />
                            <input type="password" class="message-form-control me-auto form-control-check-input" data-bs-min-length="1" data-bs-html="JoinToPrivateDiscussion_SbmtBtn" name="Password" placeholder="Enter password here" />
                            <button type="submit" class="btn btn-standard-asset bg-white btn-lg w-100" id="JoinToPrivateDiscussion_SbmtBtn" disabled> <i class="fa-solid fa-right-to-bracket"></i> Join</button>
                        </div>
                    </form>
                </div>
            }
        </div>
        <div class="box-container" id="SendMessage_FirstInside_Box">
            <div class="border-bottom pb-1" id="EditingOrReplying_Box" style="display: none;">
                <div class="box-container text-start">
                    <small class="card-text fw-500 text-primary" id="EditingOrReplyingMsgStatus_Lbl">Edit Message</small>
                </div>
                <div class="box-container hstack gap-3">
                    <h5 class="h5 text-primary mt-1" id="EditingOrReplyingMsgIcon_Lbl"> <i class="fa-regular fa-pen-to-square"></i> </h5>
                    <small class="card-text me-auto" id="EditingOrReplyingMsgText_Lbl">Message Text...</small>
                    <button type="button" class="btn btn-standard-asset text-primary btn-sm" id="CancelDiscussionMessageSettings_Btn"> <i class="fa-solid fa-xmark"></i> </button>
                </div>
            </div>
            <div class="box-container">
                <form class="send-message-variety" method="post" asp-controller="DiscussionMessage" asp-action="Message" enctype="multipart/form-data" id="SendDiscussionMessage_Form">
                    <div class="d-none">
                        <input type="hidden" name="Id" id="EM_Id_Val" value="0" />
                        <input type="hidden" name="MessageId" id="RM_ReplyId_Val" value="0" />
                        <input type="hidden" name="ReplyText" id="RM_ReplyText_Val" value="0" />
                        <input type="hidden" name="DiscussionId" id="SM_DiscussionId_Val" value="@DiscussionInfo.Id" />
                        <input type="hidden" name="UserId" id="SM_UserId_Val" value="@UserInfo.Id" />
                        <input type="hidden" id="SendMessage_IsAutoDeletable" name="IsAutoDeletable" value="0" />
                        <input type="file" class="send-message-files" id="SendMessage_Images_Val" name="Images" accept=".png, .jpg, .jpeg" multiple max="6" />
                    </div>
                    <div class="hstack gap-2">
                        <button type="button" class="btn btn-standard btn-sm return-main-bot-navbar"> <i class="fa-solid fa-chevron-down"></i> </button>
                        <textarea name="Text" id="SendMessage_Text_Val" class="send-message-form-control message-form-control me-auto form-control-check-input w-100 overflow-hidden" rows="1" placeholder="Your message..." maxlength="3400" data-bs-min-length="1" data-bs-html="SendDiscussionMessage_SbmtBtn" disabled readonly></textarea>
                        <button type="button" class="btn btn-message-example btn-sm open-animated-collapse btn-open-inside-box" id="MainTextEditor_Box-Open"> <i class="fa-solid fa-plus btn-open-inside-box" id="MainTextEditor_Box-OpenY"></i> </button>
                        <button type="button" class="btn btn-message-example btn-sm shadow-none me-1" id="PutImage_Btn"> <i class="fa-regular fa-file-image"></i> </button>
                        <button type="submit" class="btn btn-message-example btn-sm bg-primary text-light" id="SendDiscussionMessage_SbmtBtn" disabled>Send</button>
                    </div>
                </form>
            </div>
        </div>
        }
</div>

<div class="fixed-bottom bot-navbar shadow-sm p-1" style="display: none;" id="StatusEdit_BotOffNavbar">
    <div class="box-container p-1 ps-0 pe-0">
        <div>
            <form method="post" asp-controller="Discussion" asp-action="SetStatus" id="SetDiscussionStatus_Form">
                <div class="d-none">
                    <input type="hidden" name="Id" value="@DiscussionInfo.Id" />
                    <input type="hidden" name="UserId" value="@UserInfo.Id" />
                </div>
                <div class="hstack gap-2">
                    <button type="button" class="btn btn-standard btn-sm return-main-bot-navbar"> <i class="fa-solid fa-chevron-down"></i> </button>
                    <textarea name="Status" id="SetStatus_Val" class="message-form-control me-auto form-control-check-input w-100 overflow-hidden" rows="1" placeholder="Enter the status here..." maxlength="180" data-bs-min-length="1" data-bs-html="SetTheStatusSbmt_Btn"></textarea>
                    <button type="submit" class="btn btn-message-example btn-sm bg-primary text-light" id="SetTheStatusSbmt_Btn" disabled>Set</button>
                </div>
            </form>
        </div>
    </div>
</div>