@model User
@{
    ViewData["Title"] = "Your Account";

    User? UserInfo = ViewBag.UserInfo;
    TimeSpan? DaysFromLastChange = ViewBag.DaysPassed;
    string? UnpicturedAvatarInfo = ViewBag.UnpicturedAvatarInfo;
    int DeletedDiscussionsCount = ViewBag.DeletedDiscussionsCount;
}

<div class="main-sidebar" id="Main_SideBar">
    <div class="d-none">
        <div class="d-none">
            <input type="hidden" id="InitialShortname_Val" value="@UserInfo.ShortName" />
            <input type="hidden" id="AvatarSticker_Hdn_Val" value="@UserInfo.AvatarStickerUrl" />
        </div>
        <form method="get" asp-controller="User" asp-action="IsShortnameUnique" id="IsShortnameUnique_Form">
            <input type="hidden" name="Id" value="@UserInfo.Id" />
            <input type="hidden" name="Shortname" id="IsShortnameUnique_Shortname_Val" value="@UserInfo.ShortName" />
        </form>
        <form method="post" asp-controller="Discussion" asp-action="Restore" id="RestoreTheDiscussion_Form">
            <input type="hidden" name="UserId" value="@UserInfo.Id" />
            <input type="hidden" name="Id" id="RestoreTheDiscussion_DiscussionId_Val" value="0" />
        </form>
    </div>

    <div class="smallside-box-container shadow-standard" id="SecuritySettings_Container">
        <div class="header-container p-2 pb-0 text-center" id="SecuritySettings_Container-Header">
            <div class="float-start me-1">
                <form method="post" asp-controller="Account" asp-action="SignOut">
                    <button type="submit" class="btn btn-light btn-standard-asset btn-sm text-danger">Sign Out</button>
                </form>
            </div>
            <button type="button" class="btn btn-close btn-smallside-close btn-sm rounded-circle float-end ms-1" aria-label="close" id="SecuritySettings_Container-Close"></button>
            <h5 class="h5 text-truncate p-1">Security Settings</h5>
        </div>
        <div class="box-container p-2 pt-1 mt-1" id="SecuritySettings_Container-Box">
            @if (ViewBag.IsPasswordChangeAllowed)
            {
                <div id="SubmitPassword_Box">
                    <div class="box-container bg-light p-2">
                        <small class="card-text text-muted fw-500">Submit your account</small>
                        <div></div>
                        <small class="card-text">Submit that this is your account by entering your <span class="fw-500">old password</span>. If youd do not remember your old password, you may receive a <span class="fw-500">single-use code</span> to your email or you may use your <span class="fw-500">reserve-code</span> to update your password</small>
                    </div>
                    <div class="form-floating mt-2">
                        <input type="email" readonly disabled class="form-control strong-input shadow-none" value="@UserInfo.Email" placeholder="Enter your email here" />
                        <label class="fw-500">Email</label>
                    </div>
                </div>
                <div class="mt-1" id="ChangePassword_Box">
                    <form method="post" asp-controller="Account" asp-action="ChangePassword" id="ChangePassword_Form">
                        <div class="d-none">
                            <input type="hidden" name="Id" value="@UserInfo.Id" />
                        </div>
                        <div class="form-floating">
                            <input type="password" name="OldPassword" id="OldPassword" class="form-control shadow-none form-control-check-input" data-bs-min-length="6" data-bs-html="ChangePassword_SbmtBtn" placeholder="Enter your current password here" />
                            <label for="OldPassword" class="fw-500">Current Password</label>
                        </div>
                        <div class="ms-1">
                            <small class="card-text text-muted">Your current password</small>
                        </div>
                        <div class="form-floating mt-3">
                            <input type="password" name="NewPassword" id="ChangePassword_NewPassword" class="form-control shadow-none form-control-check-input" data-bs-min-length="6" data-bs-html="ChangePassword_SbmtBtn" placeholder="Enter your current password here" />
                            <label for="ChangePassword_NewPassword" class="fw-500">New Password</label>
                        </div>
                        <div class="ms-1">
                            <small class="card-text text-muted">New password must container [8-24] characters</small>
                        </div>
                        <div class="form-floating mt-3">
                            <input type="password" name="ConfirmPassword" id="ChangePassword_ConfirmPassword" class="form-control shadow-none form-control-check-input" data-bs-min-length="6" data-bs-html="ChangePassword_SbmtBtn" placeholder="Enter your current password here" />
                            <label for="ChangePassword_ConfirmPassword" class="fw-500">Confirm Password</label>
                        </div>
                        <div class="ms-1">
                            <small class="card-text text-muted">Confirm (enter your new one again) password</small>
                        </div>
                        <div class="mt-3">
                            <button type="submit" class="btn btn-standard-asset btn-primary w-100">Change Password</button>
                            <button type="button" class="btn btn-standard-asset btn-light text-primary w-100 mt-2 btn-smallside-open-container" id="ForgotPassword_Container-Open">Forgot Password</button>
                        </div>
                    </form>
                </div>
                <div class="box-container mt-2" style="display: none;" id="PasswordChangeData_Box">
                    <div class="box-container bg-light p-2">
                        <small class="card-text text-muted fw-500">Password already changed</small>
                        <div></div>
                        <small class="card-text">Since you've recently changed your password (less than 28 days ago) you cannot change it again</small>
                    </div>
                    <ul class="list-group mt-2">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="me-auto">
                                <div>
                                    <small class="card-text text-muted fw-500">Changed at</small>
                                </div>
                                <small class="card-text" id="DayOfChange_Lbl">No data</small>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="me-auto">
                                <div>
                                    <small class="card-text text-muted fw-500">Time Passed</small>
                                </div>
                                <small class="card-text" id="DaysPassed_Lbl">No data</small>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="me-auto">
                                <div>
                                    <small class="card-text text-muted fw-500">Min. Days to Change</small>
                                </div>
                                <small class="card-text">28 days</small>
                            </div>
                        </li>
                    </ul>
                </div>
            }
            else
            {
                <div class="box-container" id="PasswordChangeData_Box">
                    <div class="box-container bg-light p-2">
                        <small class="card-text text-muted fw-500">Password already changed</small>
                        <div></div>
                        <small class="card-text">Since you've recently changed your password (less than 28 days ago) you cannot change it again</small>
                    </div>
                    <ul class="list-group mt-2">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="me-auto">
                                <div>
                                    <small class="card-text text-muted fw-500">Changed at</small>
                                </div>
                                @if (UserInfo.PasswordChanged.HasValue)
                                {
                                    <small class="card-text" id="DayOfChange_Lbl">@UserInfo.PasswordChanged.Value.ToShortDateString(), at @UserInfo.PasswordChanged.Value.ToShortTimeString()</small>
                                }
                                else
                                {
                                    <small class="card-text" id="DayOfChange_Lbl">No data</small>
                                }
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="me-auto">
                                <div>
                                    <small class="card-text text-muted fw-500">Time Passed</small>
                                </div>
                                <small class="card-text" id="DaysPassed_Lbl">@ViewBag.DaysPassedStr ago</small>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="me-auto">
                                <div>
                                    <small class="card-text text-muted fw-500">Min. Days to Change</small>
                                </div>
                                <small class="card-text">28 days</small>
                            </div>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>

    <div class="smallside-box-container shadow-standard" id="ForgotPassword_Container">
        <div class="header-container p-2 pb-0 text-center" id="ForgotPassword_Container-Header">
            <button type="button" class="btn btn-close btn-smallside-close btn-sm rounded-circle float-end ms-1" aria-label="close" id="ForgotPassword_Container-Close"></button>
            <h5 class="h5 text-truncate p-1">Password Recovery</h5>
        </div>
        <div class="box-container p-2 pt-1 mt-1" id="ForgotPassword_Container-Box">
            <div class="box-container p-2 bg-light">
                <h6 class="h6">How can you recover your password</h6>
                <small class="card-text">There are 2 different ways to recover your lost password:<br /><br /><span class="text-neon-purple fw-500">First scenario</span> - via <span class="fw-500">single-use code</span> if you do not remember your <span class="fw-500">reserve code</span> (this single-use code will be active withing <span class="fw-500">12</span> mins from the moment of sending. That code will be included in a email message<br /><br /><span class="text-neon-purple fw-500">Second scenario</span> - this case is actual if you've somewhere written your <span class="fw-500">reserve code</span>. Enter that code in form below and then create your new password. This way is much more efficient and fast (no email message need)</small>
            </div>
            <div class="mt-2" id="RecoverViaEmail_Box">
                <div class="form-floating">
                    <input type="email" readonly disabled class="form-control shadow-none" placeholder="Enter your email here" value="@UserInfo.Email" />
                    <label class="fw-500">Email</label>
                </div>
                <form method="post" asp-controller="Account" asp-action="SendSingleUseCode" id="SendSingleUseCode_Form">
                    <div class="d-none">
                        <input name="Email" value="@UserInfo.Email" />
                    </div>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-light text-neon-purple btn-standard-asset w-100" id="SendSingleUseCode_SbmtBtn">Send Code</button>
                        <button type="button" class="btn bg-neon-purple text-light btn-standard-asset w-100 mt-2" id="ChangeToReserveCodeType_Btn">via Reserve Code</button>
                    </div>
                </form>
            </div>
            <div class="mt-2" style="display: none;" id="RecoverViaReserveCode_Box">
                <div class="form-floating">
                    <input type="email" readonly disabled class="form-control shadow-none" placeholder="Enter your email here" value="@UserInfo.Email" />
                    <label class="fw-500">Email</label>
                </div>
                <form method="get" asp-controller="Account" asp-action="SubmitAccountViaReserveCode" id="SubmitAccountViaReserveCode_Form">
                    <div class="d-none">
                        <input name="Email" value="@UserInfo.Email" />
                    </div>
                    <div class="form-floating mt-2">
                        <span asp-validation-for="ReserveCode" class="badge alert-badge"></span>
                        <input type="text" asp-for="ReserveCode" id="SendReserveCodeViaEmail_ReserveCode_Val" autocomplete="off" class="form-control shadow-none" placeholder="6-digit code" />
                        <label asp-for="Email" for="SendReserveCodeViaEmail_ReserveCode_Val" class="fw-500">Reserve Code</label>
                    </div>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-light text-neon-purple btn-standard-asset w-100" id="SendReserveCodeViaEmail_SbmtBtn">Check & Continue</button>
                        <button type="button" class="btn bg-neon-purple text-light btn-standard-asset w-100 mt-2" id="ChangeToSingleUseType_Btn">via Single-use Code</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="smallside-box-container shadow-standard" id="SubmitCode_Container">
        <div class="header-container p-2 pb-0 text-center" id="SubmitCode_Container-Header">
            <button type="button" class="btn btn-light btn-sm float-start me-1 btn-standard-asset" id="SendCodeAgain_Btn" disabled>Resend Code</button>
            <button type="button" class="btn btn-close btn-smallside-close btn-sm rounded-circle float-end ms-1" aria-label="close" id="SubmitCode_Container-Close"></button>
            <h5 class="h5 text-truncate p-1">Submit Code</h5>
        </div>
        <div class="box-container p-2 pt-1 mt-1" id="SubmitCode_Container-Box">
            <div>
                <form method="get" asp-controller="Account" asp-action="SubmitSingleUsingCode" id="SubmitSingleUsingCode_Form">
                    <div class="d-none">
                        <input type="hidden" name="Email" id="SubmitSingleUsingCode_Email_Val" value="@UserInfo.Email" />
                    </div>
                    <div>
                        <input name="Code" id="SubmitSingleUsingCode_Code_Val" class="special-form-control w-100" placeholder="8-digit code" maxlength="8" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="smallside-box-container shadow-standard" id="CreateNewPassword_Container">
        <div class="header-container p-2 pb-0 text-center" id="CreateNewPassword_Container-Header">
            <button type="button" class="btn btn-close btn-smallside-close btn-sm rounded-circle float-end ms-1" aria-label="close" id="CreateNewPassword_Container-Close"></button>
            <h5 class="h5 text-truncate p-1">Reset Password</h5>
        </div>
        <div class="box-container p-2 pt-1 mt-1" id="CreateNewPassword_Container-Box">
            <div>
                <form method="post" asp-controller="Account" asp-action="UpdatePassword" id="UpdatePassword_Form">
                    <div class="d-none">
                        <input type="hidden" name="Token" id="UpdatePassword_Token_Val" />
                        <input type="hidden" name="Email" id="UpdatePassword_Email_Val" value="@UserInfo.Email" />
                    </div>
                    <div class="form-floating">
                        <input type="password" name="Password" id="Password" class="form-control shadow-none form-control-check-input" data-bs-min-length="8" data-bs-html="ResetPassword_SbmtBtn" placeholder="Enter your new password here" />
                        <label for="Password" class="fw-500">Password</label>
                    </div>
                    <div class="ms-1">
                        <small class="card-text text-muted">Password must container [8-24] characters</small>
                    </div>
                    <div class="form-floating mt-3">
                        <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control shadow-none form-control-check-input" data-bs-min-length="8" data-bs-html="ResetPassword_SbmtBtn" placeholder="Confirm password" />
                        <label for="ConfirmPassword" class="fw-500">Confirm Password</label>
                    </div>
                    <div class="ms-1">
                        <small class="card-text text-muted">Submit your new password</small>
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn bg-neon-purple text-light btn-standard-asset w-100" id="UpdatePassword_SbmtBtn">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="smallside-box-container shadow-standard" id="Edit_Container">
        <div class="header-container p-2 pb-0 text-center" id="Edit_Container-Header">
            <button type="button" class="btn btn-close btn-smallside-close btn-sm rounded-circle float-end ms-1" aria-label="close" id="Edit_Container-Close"></button>
            <h5 class="h5 text-truncate p-1">Edit</h5>
        </div>
        <div class="box-container p-2 pt-1 mt-1" id="Edit_Container-Box">
            <div>
                <form method="post" asp-controller="User" asp-action="Edit" id="EditAccount_Form">
                    <div class="form-floating">
                        <input asp-for="PseudoName" class="form-control shadow-none" value="@UserInfo.PseudoName" placeholder="Enter your pseudoname here" />
                        <label asp-for="PseudoName" class="fw-500">Pseudoname</label>
                    </div>
                    <div class="ms-1">
                        <small class="card-text text-muted">May contain up to 40 chars</small>
                    </div>
                    <div class="form-floating mt-3">
                        <input asp-for="ShortName" class="form-control strong-input shadow-none" value="@UserInfo.ShortName" placeholder="Enter your shortname here" />
                        <label asp-for="ShortName" class="fw-500">Shortname</label>
                    </div>
                    <div class="ms-1">
                        <small class="card-text text-muted">This is your account's shortlink key value (/User/Info/@@<span class="text-primary" id="ShortnameVal_Span">@UserInfo.ShortName</span>). This link opens your own page. You may use: <span class="fw-500">[A-Z, a-z], [0-9] and underscores</span>. Min length: <span class="fw-500">4</span> chars, max length: <span class="fw-500">20</span>. <span class="text-primary" id="ShortnameStatus_Span">This shortname is free</span></small>
                    </div>
                    <div class="form-floating mt-3">
                        <textarea id="Description" name="Description" class="form-control shadow-none h-120" value="@UserInfo.Description" placeholder="Enter your account's description here" rows="4" style="height: 140px;">@UserInfo.Description</textarea>
                        <label asp-for="Description" class="fw-500">Description</label>
                    </div>
                    <div class="ms-1">
                        <small class="card-text text-muted">Any details about you are welcome</small>
                    </div>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-light text-primary w-100 btn-standard-asset" id="EditAccount_SbmtBtn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="smallside-box-container shadow-standard" id="ProfilePhoto_Container">
        <div class="header-container p-2 text-center" id="ProfilePhoto_Container-Header">
            <button type="button" class="btn btn-close btn-smallside-close btn-sm rounded-circle float-end ms-1" aria-label="close" id="ProfilePhoto_Container-Close"></button>
            @if (UserInfo.AvatarUrl == null)
            {
                <div class="box-container float-start me-1" style="display: none;" id="DeleteAvatar_Box">
                    <div class="box-container">
                        <form method="post" asp-controller="User" asp-action="DeleteProfilePhoto" id="DeleteProfilePhoto_Form">
                            <input type="hidden" name="Id" value="@UserInfo.Id" />
                            <button type="submit" class="btn btn-standard-asset text-danger btn-light btn-sm">Delete</button>
                        </form>
                    </div>
                </div>
                <div class="image-container mx-auto text-center pb-2" style="display: none;" id="PicturedAvatar_Box">
                    <img class="image-container w-100" src="#" id="AvatarTestUrl_Val" alt="Cannot display this image now" />
                </div>
                <h5 class="h5 text-truncate" id="ProfilePhoto-Header">Profile Photo</h5>
            }
            else
            {
                <div class="box-container float-start me-1" id="DeleteAvatar_Box">
                    <div class="box-container">
                        <form method="post" asp-controller="User" asp-action="DeleteProfilePhoto" id="DeleteProfilePhoto_Form">
                            <input type="hidden" name="Id" value="@UserInfo.Id" />
                            <button type="submit" class="btn btn-standard-asset text-danger btn-light btn-sm">Delete</button>
                        </form>
                    </div>
                </div>
                <div class="image-container mx-auto text-center pb-2" id="PicturedAvatar_Box">
                    <img class="image-container w-100" src="~/Avatars/@UserInfo.AvatarUrl" id="AvatarTestUrl_Val" alt="Cannot display this image now" />
                </div>
                <h5 class="h5 text-truncate" style="display: none;" id="ProfilePhoto-Header">Profile Photo</h5>
            }
        </div>
        <div class="box-container p-2 pt-1 mt-1" id="ProfilePhoto_Container-Box">
            <div class="box-container bg-light p-2 mt-1 text-center">
                <h6 class="h6">Selected File</h6>
                <small class="card-text text-muted" id="SelectedFileInfo_Lbl">No Info</small>
            </div>
            <div class="box-container mt-2 p-1">
                <form method="post" asp-controller="User" asp-action="SetProfilePhoto" id="SetProfilePhoto_Form">
                    <div class="d-none">
                        <input type="hidden" name="Id" id="SetProfilePhoto_Id_Val" value="@UserInfo.Id" />
                    </div>
                    <div class="box-container">
                        <input type="file" class="d-none invisible" id="SelectaFile_Val" name="File" />
                        <button type="button" class="btn btn-standard btn-file-click" accept=".png, .jpg, .jpeg" id="SelectaFile_Val-Click"> <i class="fa-solid fa-paperclip"></i> Upload a File</button>
                    </div>
                    <div class="box-container mt-2">
                        <button type="submit" class="btn btn-primary btn-standard-asset w-100">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="smallside-box-container shadow-standard" id="AvatarDesign_Container">
        <div class="header-container p-2 text-center" id="AvatarDesign_Container-Header">
            <button type="button" class="btn btn-light btn-standard-asset btn-sm float-start me-1" id="SetDefaultColors_Btn">Default</button>
            <button type="button" class="btn btn-close btn-smallside-close btn-sm rounded-circle float-end ms-1" aria-label="close" id="AvatarDesign_Container-Close"></button>
            <div class="image-picture-none-container-sm mx-auto text-center" style="background-color: #@UserInfo.AvatarBgColor;" id="AvatarNoneSm_Box">
                <div class="unpictured-container-label-sm" style="color: #@UserInfo.AvatarFgColor" id="UnpicturedAvatarSm_Lbl">@UnpicturedAvatarInfo</div>
            </div>
        </div>
        <div class="box-container p-2 pt-1 mt-1" id="AvatarDesign_Container-Box">
            <div class="box-container p-2 text-center" style="background-color: #@UserInfo.AvatarBgColor;" id="AvatarDesignExample-Box">
                <h6 class="h6" id="AvatarDesign_Container_Lbl" style="color: #@UserInfo.AvatarFgColor;">Current Pattern</h6>
                <span class="h3 mt-2" id="AvatarDesign_Container_MainLbl" style="color: #@UserInfo.AvatarFgColor;">@UserInfo.PseudoName</span>
                <div></div>
                <small class="card-text text-muted" id="AvatarDesignShortname_Lbl">@@@UserInfo.ShortName</small>
            </div>
            <div class="box-container mt-2">
                <div>
                    <div class="bordered-container p-1">
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-primary btn-sm w-100 btn-standard-asset" id="ColorPickerVia_Hex">#HEX</button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-light btn-sm w-100 btn-standard-asset" id="ColorPickerVia_RGB">RGB Sliders</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-2 p-2" style="display: none;" id="RGBColorChange_Box">
                    <div class="d-none">
                        <input type="hidden" id="CompiledRgbColor_Val" />
                    </div>
                    <div>
                        <label for="RedRange_Val" class="form-label fw-500">Red ∙ <span class="text-muted" id="RedRange_Val-Span">0</span></label>
                        <input type="range" class="form-range color-picker-range" min="0" max="255" step="1" value="0" id="RedRange_Val" />
                    </div>
                    <div class="mt-2">
                        <label for="GreenRange_Val" class="form-label fw-500">Green ∙ <span class="text-muted" id="GreenRange_Val-Span">0</span></label>
                        <input type="range" class="form-range color-picker-range" min="0" max="255" step="1" value="0" id="GreenRange_Val" />
                    </div>
                    <div class="mt-2">
                        <label for="BlueRange_Val" class="form-label fw-500">Blue ∙ <span class="text-muted" id="BlueRange_Val-Span">0</span></label>
                        <input type="range" class="form-range color-picker-range" min="0" max="255" step="1" value="0" id="BlueRange_Val" />
                    </div>
                    <div class="mt-2">
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-light btn-standard-asset text-primary btn-sm w-100 set-from-into" id="AvatarBgColor_Val-SetFromInto" data-bs-set-from="RGB_SelectedColor_InHEX_Lbl">Set as Background</button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-light btn-standard-asset text-primary btn-sm w-100 set-from-into" id="AvatarFgColor_Val-SetFromInto" data-bs-set-from="RGB_SelectedColor_InHEX_Lbl">Set as Foreground</button>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2 box-container" style="height: 120px; background-color: #f8f9fa;" id="RGBSelectedColor_Box"></div>
                    <div class="bordered-container text-center p-2 pt-3 pb-3 mt-2">
                        <span class="h2 text-primary">#<span id="RGB_SelectedColor_InHEX_Lbl">f8f9fa</span></span>
                        <div></div>
                        <small class="card-text text-muted" id="RGB_SelectedColor_InRGB_Lbl">rgb(248,249,250)</small>
                    </div>
                </div>
                <div class="mt-2" id="MainColorChangeForm_Box">
                    <form method="post" asp-controller="User" asp-action="EditAvatarDesign" id="EditAvatarDesign_Form">
                        <div class="d-none">
                            <input type="hidden" name="Id" value="@UserInfo.Id" />
                            <input type="hidden" name="AvatarStickerUrl" id="EditAvatarDesign_AvatarStickerUrl_Val" value="@UserInfo.AvatarStickerUrl" />
                        </div>
                        <div class="form-floating">
                            <input type="text" id="AvatarBgColor_Val" name="BgColor" value="@UserInfo.AvatarBgColor" autocomplete="off" class="form-control shadow-none strong-input" placeholder="HEX Code: (#0d6efd)" maxlength="6" />
                            <label for="AvatarBgColor_Val" class="fw-500">Background Color</label>
                        </div>
                        <div class="ms-1">
                            <small class="card-text text-muted">Enter code in HEX format, but without '#' (example: <span class="text-primary">0d6efd</span>)</small>
                        </div>
                        <div class="form-floating mt-2">
                            <input type="text" id="AvatarFgColor_Val" value="@UserInfo.AvatarFgColor" name="FgColor" autocomplete="off" class="form-control shadow-none strong-input" placeholder="HEX Code: (#f8f9fa)" maxlength="6" />
                            <label for="AvatarFgColor_Val" class="fw-500">Foreground Color</label>
                        </div>
                        <div class="ms-1">
                            <small class="card-text text-muted">Enter code in HEX format, but without '#' (example: <span class="text-dark">000000</span>)</small>
                        </div>
                        <div class="mt-3">
                            <button type="submit" class="btn btn-standard-asset btn-primary w-100">Save Changes</button>
                            <div class="box-container ps-1 pe-1">
                                <div class="row">
                                    <div class="col">
                                        <button type="button" class="btn btn-standard-asset btn-light text-primary w-100 mt-2" id="SetRandomColors_Btn">Random Colors</button>
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-standard-asset btn-light text-primary w-100 mt-2 btn-smallside-open-container" id="AvatarStyle_Container-Open">Avatar Style</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="smallside-box-container shadow-standard" id="AvatarStyle_Container">
        <div class="header-container p-2 text-center" id="AvatarStyle_Container-Header">
            <button type="button" class="btn btn-light btn-standard-asset btn-sm float-start me-1 btn-smallside-open-container" id="AvatarDesign_Container-OpenX"> <i class="fa-solid fa-chevron-left" id="AvatarDesign_Container-OpenY"></i> Back</button>
            <button type="button" class="btn btn-close btn-smallside-close btn-sm rounded-circle float-end ms-1" aria-label="close" id="AvatarStyle_Container-Close"></button>
            <div class="image-picture-none-container mx-auto text-center" style="background-color: #@UserInfo.AvatarBgColor;" id="AvatarStyleChange_Box">
                <div class="unpictured-container-label" style="color: #@UserInfo.AvatarFgColor" id="AvatarStyleChange_MainLbl">@UnpicturedAvatarInfo</div>
            </div>
        </div>
        <div class="box-container p-2 pt-1 mt-1" id="AvatarStyle_Container-Box">
            <div class="box-container p-1">
                <div class="row">
                    <div class="col">
                        <div class="box-container bg-light p-2 text-center">
                            <h3 class="h3 text-neon-purple"> <i class="fas fa-solid fa-icons"></i> </h3>
                            <h5 class="h5">Icons</h5>
                            <small class="card-text text-muted">Select and set a fancy icon as your avatar from our list</small>
                            <div class="mt-2">
                                <button type="button" class="btn btn-standard text-neon-purple" data-bs-toggle="collapse" data-bs-target="#SetTheIcon_Collapse" aria-expanded="false" aria-controls="SetTheIcon_Collapse">Set the Icon</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="box-container bg-light p-2 text-center">
                            <h3 class="h3 text-neon-purple"> <i class="fa-regular fa-face-grin-hearts"></i> </h3>
                            <h5 class="h5">Emojis</h5>
                            <small class="card-text text-muted">Select an emoji from our prepared list as your avatar</small>
                            <div class="mt-2">
                                <button type="button" class="btn btn-standard text-neon-purple">Set the Emoji</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <div class="box-container bg-light p-2 text-center">
                            <h3 class="h3 text-neon-purple"> <i class="fa-solid fa-y"></i> <i class="fa-solid fa-r"></i> </h3>
                            <h5 class="h5">Characters</h5>
                            <small class="card-text text-muted">Set customizable characters as your new avatar</small>
                            <div class="mt-2">
                                <button type="button" class="btn btn-standard text-neon-purple" data-bs-toggle="collapse" data-bs-target="#SetTheChar_Collapse" aria-expanded="false" aria-controls="SetTheChar_Collapse">Set the Character</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-container p-1">
                <div class="collapse collapse" id="SetTheIcon_Collapse">
                    <div class="box-container p-2">
                        <span class="h5">Choose Your Icon</span>
                        <div></div>
                        <small class="card-text text-muted">Click to set the icon and then edit the background and foreground colors in prev. widget. Don't forget to save your changes</small>
                        <div class="box-container mt-2">
                            <div class="box-container p-1">
                                <button type="button" class="btn btn-light btn-standard-asset btn-lg set-the-icon me-1 mt-2"> <i class="fa-regular fa-heart"></i> </button>
                                <button type="button" class="btn btn-light btn-standard-asset btn-lg set-the-icon me-1 mt-2"> <i class="fa-regular fa-star"></i> </button>
                                <button type="button" class="btn btn-light btn-standard-asset btn-lg set-the-icon me-1 mt-2"> <i class="fa-brands fa-slack"></i> </button>
                                <button type="button" class="btn btn-light btn-standard-asset btn-lg set-the-icon me-1 mt-2"> <i class="fa-solid fa-circle-half-stroke"></i> </button>
                                <button type="button" class="btn btn-light btn-standard-asset btn-lg set-the-icon me-1 mt-2"> <i class="fa-brands fa-android"></i> </button>
                                <button type="button" class="btn btn-light btn-standard-asset btn-lg set-the-icon me-1 mt-2"> <i class="fa-regular fa-sun"></i> </button>
                                <button type="button" class="btn btn-light btn-standard-asset btn-lg set-the-icon me-1 mt-2"> <i class="fa-regular fa-lemon"></i> </button>
                                <button type="button" class="btn btn-light btn-standard-asset btn-lg set-the-icon me-1 mt-2"> <i class="fa-solid fa-fish"></i> </button>
                                <button type="button" class="btn btn-light btn-standard-asset btn-lg set-the-icon me-1 mt-2"> <i class="fa-solid fa-apple-whole"></i> </button>
                                <button type="button" class="btn btn-light btn-standard-asset btn-lg set-the-icon me-1 mt-2"> <i class="fa-solid fa-music"></i> </button>
                                <button type="button" class="btn btn-light btn-standard-asset btn-lg set-the-icon me-1 mt-2"> <i class="fa-solid fa-film"></i> </button>
                                <button type="button" class="btn btn-light btn-standard-asset btn-lg set-the-icon me-1 mt-2"> <i class="fa-solid fa-terminal"></i> </button>
                                <button type="button" class="btn btn-light btn-standard-asset btn-lg set-the-icon me-1 mt-2"> <i class="fa-solid fa-otter"></i> </button>
                                <button type="button" class="btn btn-light btn-standard-asset btn-lg set-the-icon me-1 mt-2"> <i class="fa-solid fa-spider"></i> </button>
                                <button type="button" class="btn btn-light btn-standard-asset btn-lg set-the-icon me-1 mt-2"> <i class="fa-solid fa-dragon"></i> </button>
                                <button type="button" class="btn btn-light btn-standard-asset btn-lg set-the-icon me-1 mt-2"> <i class="fa-solid fa-car-rear"></i> </button>
                                <button type="button" class="btn btn-light btn-standard-asset btn-lg set-the-icon me-1 mt-2"> <i class="fa-solid fa-carrot"></i> </button>
                                <button type="button" class="btn btn-light btn-standard-asset btn-lg set-the-icon me-1 mt-2"> <i class="fa-solid fa-mobile-screen"></i> </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse collapse" id="SetTheChar_Collapse">
                    <div class="box-container p-1 pb-0">
                        <div class="box-container">
                            <div class="box-container mt-2">
                                <div class="box-container">
                                    <div>
                                        <input type="text" id="AvatarChar" autocomplete="off" class="special-form-control" placeholder="Enter your char here" maxlength="2" />
                                    </div>
                                    <div class="ms-1">
                                        <small class="card-text text-muted">Foreground color settings should be changed from prev. widget</small>
                                    </div>
                                </div>
                                <div class="box-container mt-3">
                                    <div>
                                        <label for="FontWeight_Val" class="form-label fw-500">Weight ∙ <span class="text-muted" id="FontWeight_Val-Span">400</span></label>
                                        <input type="range" class="form-range color-picker-range" min="100" max="900" step="100" value="400" id="FontWeight_Val" />
                                    </div>
                                    <div class="mt-2">
                                        <label for="Rotation_Val" class="form-label fw-500">Rotation (in degrees) ∙ <span class="text-muted" id="Rotation_Val-Span">0</span></label>
                                        <input type="range" class="form-range color-picker-range" min="0" max="360" step="1" value="0" id="Rotation_Val" />
                                    </div>
                                </div>
                                <div class="box-container mt-2">
                                    <input type="hidden" id="FontFamily_Val" />
                                    <h6 class="h6">Font Families</h6>
                                    <div class="bordered-container p-1 mt-2">
                                        <button type="button" class="btn btn-light btn-standard-asset text-start btn-sm w-100 set-font" data-bs-font="null" data-bs-set-in="FontFamily_Val">Default</button>
                                        <button type="button" class="btn btn-light btn-standard-asset text-start btn-sm w-100 mt-2 set-font style-font" data-bs-font="style-font" data-bs-set-in="FontFamily_Val">Example 1</button>
                                        <button type="button" class="btn btn-light btn-standard-asset text-start btn-sm w-100 mt-2 set-font tahoma-font" data-bs-font="tahoma-font" data-bs-set-in="FontFamily_Val">Example 2</button>
                                        <button type="button" class="btn btn-light btn-standard-asset text-start btn-sm w-100 mt-2 set-font serif-font" data-bs-font="serif-font" data-bs-set-in="FontFamily_Val">Example 3</button>
                                        <button type="button" class="btn btn-light btn-standard-asset text-start btn-sm w-100 mt-2 set-font cursive-font" data-bs-font="cursive-font" data-bs-set-in="FontFamily_Val">Example 4</button>
                                        <button type="button" class="btn btn-light btn-standard-asset text-start btn-sm w-100 mt-2 set-font system-ui-font" data-bs-font="system-ui-font" data-bs-set-in="FontFamily_Val">Example 5</button>
                                        <button type="button" class="btn btn-light btn-standard-asset text-start btn-sm w-100 mt-2 set-font math-font" data-bs-font="math-font" data-bs-set-in="FontFamily_Val">Example 6</button>
                                        <button type="button" class="btn btn-light btn-standard-asset text-start btn-sm w-100 mt-2 set-font courier-font" data-bs-font="courier-font" data-bs-set-in="FontFamily_Val">Example 7</button>
                                        <button type="button" class="btn btn-light btn-standard-asset text-start btn-sm w-100 mt-2 set-font lucida-font" data-bs-font="lucida-font" data-bs-set-in="FontFamily_Val">Example 8</button>
                                    </div>
                                </div>
                                <div class="box-container mt-2">
                                    <button type="button" class="btn btn-primary btn-standard-asset w-100" id="SetAvatarChar_Btn">Try</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="smallside-box-container shadow-standard" id="Discussions_Container">
        <div class="header-container p-2 pb-0 text-center" id="Discussions_Container-Header">
            <button type="button" class="btn btn-close btn-smallside-close btn-sm rounded-circle float-end ms-1" aria-label="close" id="Discussions_Container-Close"></button>
            <span class="h5 text-truncate p-1" id="Discussions_Container_Header">Discussions</span>
            <div></div>
            <small class="card-text text-muted" id="DiscussionsCount_Lbl"><span id="DiscussionsCount_Span">0</span> discussion(s)</small>
        </div>
        <div class="box-container p-2 pt-1 mt-1" id="Discussions_Container-Box">

        </div>
    </div>
</div>

<div class="main-container shadow-standard" id="Preloaded_Container">
    <div class="header-container p-2 text-center" id="Preloaded_Container-Header">
        <button type="button" class="btn btn-light btn-standard-asset float-end btn-sm ms-1 btn-smallside-open-container" id="Edit_Container-Open">Edit</button>
        <h5 class="h5 text-truncate p-1" id="HeaderText_Lbl">Your Account</h5>
    </div>
    <div class="box-container p-2 pt-1 mt-1" id="Prealoded_Container-Box">
        <div class="bordered-container p-2">
            <div class="text-center">
                @if(UserInfo.AvatarUrl == null)
                {
                    <div class="image-picture-none-container text-center mx-auto" style="background-color: #@UserInfo.AvatarBgColor;" id="AvatarNone_Box">
                        <div class="unpictured-container-label" style="color: #@UserInfo.AvatarFgColor" id="UnpicturedAvatar_Lbl"> @UnpicturedAvatarInfo</div>
                    </div>
                    <div class="image-container text-center mx-auto" style="display: none;" id="Avatar_Box">
                        <img class="image-container" src="#" id="AvatarUrl_Id" />
                    </div>
                    <span class="h1" id="UserInfo_Pseudoname_Lbl">@UserInfo.PseudoName</span>
                    <div></div>
                    <small class="card-text text-muted" id="UserInfo_Shortname_Lbl">@@@UserInfo.ShortName</small>
                }
                else
                {
                    <div class="image-picture-none-container text-center mx-auto" style="display: none; background-color: #@UserInfo.AvatarBgColor;" id="AvatarNone_Box">
                        <div class="unpictured-container-label" style="color: #@UserInfo.AvatarFgColor" id="UnpicturedAvatar_Lbl"> @UnpicturedAvatarInfo</div>
                    </div>
                    <div class="image-container text-center mx-auto" id="Avatar_Box">
                        <img class="image-container" src="/Avatars/@UserInfo.AvatarUrl" id="AvatarUrl_Id" />
                    </div>
                    <div class="mt-2"></div>
                    <span class="h1" id="UserInfo_Pseudoname_Lbl">@UserInfo.PseudoName</span>
                    <div></div>
                    <small class="card-text text-muted" id="UserInfo_Shortname_Lbl">@@@UserInfo.ShortName</small>
                }
            </div>
        </div>
        <div class="box-container bg-light p-2 mt-2">
            <small class="card-text text-muted fw-500">Description</small>
            @if(UserInfo.Description is null)
            {
                <p class="card-text white-space-on" id="UserInfo_Description_Lbl">No description</p>
            }
            else
            {
                <p class="card-text white-space-on" id="UserInfo_Description_Lbl">@UserInfo.Description</p>
            }
        </div>

        <div class="mt-2">
            <div class="btn-group-vertical w-100" role="group" aria-label="vertical btn-group">
                <button type="button" class="btn btn-group-member w-100 btn-smallside-open-container" id="ProfilePhoto_Container-Open"> <i class="fa-solid fa-camera"></i> Change Profile Photo</button>
                <button type="button" class="btn btn-group-member w-100 btn-smallside-open-container" id="AvatarDesign_Container-Open"> <i class="fa-solid fa-brush"></i> Change Avatar Design</button>
            </div>
        </div>
        <div class="mt-3">
            <div class="btn-group-vertical w-100" role="group" aria-label="vertical btn-group">
                <button type="button" class="btn btn-group-member btn-smallside-open-container" id="Edit_Container-OpenX"> <i class="fa-solid fa-pen-to-square"></i> Edit</button>
                <button type="button" class="btn btn-group-member btn-smallside-open-container" id="SecuritySettings_Container-Open"> <i class="fa-solid fa-key"></i> Security</button>
                <button type="button" class="btn btn-group-member btn-smallside-open-container" id="Privacy_Container-Open"> <i class="fa-solid fa-lock"></i> Privacy</button>
            </div>
        </div>
        <div class="mt-3">
            <div class="btn-group-vertical w-100" role="group" aria-label="vertical btn-group">
                <div class="w-100">
                    <form method="get" asp-controller="Chat" asp-action="GetChats" id="GetChats_Form">
                        <div class="d-none">
                            <input type="hidden" name="Id" value="@UserInfo.Id" />
                        </div>
                        <div>
                            <button type="submit" class="btn btn-group-member btn-top-rounded w-100"> <i class="fa-regular fa-comments"></i> Chats</button>
                        </div>
                    </form>
                </div>
                <div class="w-100">
                    <form method="get" asp-controller="Discussion" asp-action="GetDiscussions" id="GetDiscussions_Form">
                        <div class="d-none">
                            <input type="hidden" name="Id" value="@UserInfo.Id" />
                        </div>
                        <div>
                            <button type="submit" class="btn btn-group-member border-radius-sharp w-100"> <i class="fa-solid fa-quote-right"></i> Discussions</button>
                        </div>
                    </form>
                </div>
                @if(DeletedDiscussionsCount > 0)
                {
                    <div class="w-100" id="GetDeletedDiscussions_Form_Box">
                        <form method="get" asp-controller="Discussion" asp-action="GetDeletedDiscussions" id="GetDeletedDiscussions_Form">
                            <div class="d-none">
                                <input type="hidden" name="Id" value="@UserInfo.Id" />
                            </div>
                            <div>
                                <button type="submit" class="btn btn-group-member border-radius-sharp w-100"> <i class="fa-regular fa-square-minus text-danger"></i> Deleted Discussions ∙ <span id="DeletedDiscussionCount_Span">@DeletedDiscussionsCount</span></button>
                            </div>
                        </form>
                    </div>
                }
                <button type="button" class="btn btn-group-member btn-bottom-rounded btn-smallside-open-container" id="Appearance_Container-Open"> <i class="fa-solid fa-fill-drip"></i> Appearance</button>
            </div>
        </div>
        <div class="mt-3">
            <div class="btn-group-vertical w-100" role="group" aria-label="vertical btn-group">
                <a asp-controller="Home" asp-action="AskAQuestion" class="btn btn-group-member"> <i class="fa-solid fa-circle-question"></i> Ask a Question</a>
                <a asp-controller="Home" asp-action="About" class="btn btn-group-member"> <i class="fa-solid fa-circle-info"></i> About App</a>
                <a asp-controller="Home" asp-action="Toolbox" class="btn btn-group-member"> <i class="fa-solid fa-code"></i> Text Editor and API</a>
            </div>
        </div>
    </div>
</div>
