@model User
@{
    ViewData["Title"] = "Security";

    User? UserInfo = ViewBag.UserInfo;
}

<div class="main-sidebar" id="Main_SideBar">
    <div class="smallside-box-container shadow-standard" id="SecuritySettings_Container">
        <div class="header-container p-2 pb-0 text-center" id="SecuritySettings_Container-Header">
            <div class="float-start me-1">
                <form method="post" asp-controller="Account" asp-action="SignOut">
                    <button type="submit" class="btn btn-light btn-standard-asset btn-sm text-danger">Sign Out</button>
                </form>
            </div>
            <button type="button" class="btn btn-close btn-smallside-close btn-sm rounded-circle float-end ms-1" aria-label="close" id="SecuritySettings_Container-Close"></button>
            <h5 class="h5 text-truncate p-1">Security Settings</h5>
        </div>
        <div class="box-container p-2 pt-1 mt-1" id="SecuritySettings_Container-Box">
            @if (ViewBag.IsAbleToChange)
            {
                <div id="SubmitPassword_Box">
                    <div class="box-container bg-light p-2">
                        <small class="card-text text-muted fw-500">Submit your account</small>
                        <div></div>
                        <small class="card-text">Submit that this is your account by entering your <span class="fw-500">old password</span>. If youd do not remember your old password, you may receive a <span class="fw-500">single-use code</span> to your email or you may use your <span class="fw-500">reserve-code</span> to update your password</small>
                    </div>
                    <div class="form-floating mt-2">
                        <input type="email" readonly disabled class="form-control strong-input shadow-none" value="@UserInfo.Email" placeholder="Enter your email here" />
                        <label class="fw-500">Email</label>
                    </div>
                </div>
                <div class="mt-1" id="ChangePassword_Box">
                    <form method="post" asp-controller="Account" asp-action="ChangePassword" id="ChangePassword_Form">
                        <div class="d-none">
                            <input type="hidden" name="Id" value="@UserInfo.Id" />
                        </div>
                        <div class="form-floating">
                            <input type="password" name="OldPassword" id="OldPassword" class="form-control shadow-none form-control-check-input" data-bs-min-length="6" data-bs-html="ChangePassword_SbmtBtn" placeholder="Enter your current password here" />
                            <label for="OldPassword" class="fw-500">Current Password</label>
                        </div>
                        <div class="ms-1">
                            <small class="card-text text-muted">Your current password</small>
                        </div>
                        <div class="form-floating mt-3">
                            <input type="password" name="NewPassword" id="ChangePassword_NewPassword" class="form-control shadow-none form-control-check-input" data-bs-min-length="6" data-bs-html="ChangePassword_SbmtBtn" placeholder="Enter your current password here" />
                            <label for="ChangePassword_NewPassword" class="fw-500">New Password</label>
                        </div>
                        <div class="ms-1">
                            <small class="card-text text-muted">New password must container [8-24] characters</small>
                        </div>
                        <div class="form-floating mt-3">
                            <input type="password" name="ConfirmPassword" id="ChangePassword_ConfirmPassword" class="form-control shadow-none form-control-check-input" data-bs-min-length="6" data-bs-html="ChangePassword_SbmtBtn" placeholder="Enter your current password here" />
                            <label for="ChangePassword_ConfirmPassword" class="fw-500">Confirm Password</label>
                        </div>
                        <div class="ms-1">
                            <small class="card-text text-muted">Confirm (enter your new one again) password</small>
                        </div>
                        <div class="mt-3">
                            <button type="submit" class="btn btn-standard-asset btn-primary w-100">Change Password</button>
                            <button type="button" class="btn btn-standard-asset btn-light text-primary w-100 mt-2 btn-smallside-open-container" id="ForgotPassword_Container-Open">Forgot Password</button>
                        </div>
                    </form>
                </div>
                <div class="box-container mt-2" style="display: none;" id="PasswordChangeData_Box">
                    <div class="box-container bg-light p-2">
                        <small class="card-text text-muted fw-500">Password already changed</small>
                        <div></div>
                        <small class="card-text">Since you've recently changed your password (less than 28 days ago) you cannot change it again</small>
                    </div>
                </div>
            }
            else
            {
                <div class="box-container" id="PasswordChangeData_Box">
                    <div class="box-container bg-light p-2">
                        <small class="card-text text-muted fw-500">Password already changed</small>
                        <div></div>
                        <small class="card-text">Since you've recently changed your password (less than 28 days ago) you cannot change it again</small>
                    </div>
                    <div class="box-container mt-2">
                        <a asp-controller="Home" asp-action="About" class="btn btn-standard-asset btn-light w-100">More About Security</a>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="smallside-box-container shadow-standard" id="ForgotPassword_Container">
        <div class="header-container p-2 pb-0 text-center" id="ForgotPassword_Container-Header">
            <button type="button" class="btn btn-close btn-smallside-close btn-sm rounded-circle float-end ms-1" aria-label="close" id="ForgotPassword_Container-Close"></button>
            <h5 class="h5 text-truncate p-1">Password Recovery</h5>
        </div>
        <div class="box-container p-2 pt-1 mt-1" id="ForgotPassword_Container-Box">
            <div class="box-container p-2 bg-light">
                <h6 class="h6">How can you recover your password</h6>
                <small class="card-text">There are 2 different ways to recover your lost password:<br /><br /><span class="text-neon-purple fw-500">First scenario</span> - via <span class="fw-500">single-use code</span> if you do not remember your <span class="fw-500">reserve code</span> (this single-use code will be active withing <span class="fw-500">12</span> mins from the moment of sending. That code will be included in a email message<br /><br /><span class="text-neon-purple fw-500">Second scenario</span> - this case is actual if you've somewhere written your <span class="fw-500">reserve code</span>. Enter that code in form below and then create your new password. This way is much more efficient and fast (no email message need)</small>
            </div>
            <div class="mt-2" id="RecoverViaEmail_Box">
                <div class="form-floating">
                    <input type="email" readonly disabled class="form-control shadow-none" placeholder="Enter your email here" value="@UserInfo.Email" />
                    <label class="fw-500">Email</label>
                </div>
                <form method="post" asp-controller="Account" asp-action="SendSingleUseCode" id="SendSingleUseCode_Form">
                    <div class="d-none">
                        <input name="Email" value="@UserInfo.Email" />
                    </div>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-light text-neon-purple btn-standard-asset w-100" id="SendSingleUseCode_SbmtBtn">Send Code</button>
                        <button type="button" class="btn bg-neon-purple text-light btn-standard-asset w-100 mt-2" id="ChangeToReserveCodeType_Btn">via Reserve Code</button>
                    </div>
                </form>
            </div>
            <div class="mt-2" style="display: none;" id="RecoverViaReserveCode_Box">
                <div class="form-floating">
                    <input type="email" readonly disabled class="form-control shadow-none" placeholder="Enter your email here" value="@UserInfo.Email" />
                    <label class="fw-500">Email</label>
                </div>
                <form method="get" asp-controller="Account" asp-action="SubmitAccountViaReserveCode" id="SubmitAccountViaReserveCode_Form">
                    <div class="d-none">
                        <input name="Email" value="@UserInfo.Email" />
                    </div>
                    <div class="form-floating mt-2">
                        <span asp-validation-for="ReserveCode" class="badge alert-badge"></span>
                        <input type="text" asp-for="ReserveCode" id="SendReserveCodeViaEmail_ReserveCode_Val" autocomplete="off" class="form-control shadow-none" placeholder="6-digit code" />
                        <label asp-for="Email" for="SendReserveCodeViaEmail_ReserveCode_Val" class="fw-500">Reserve Code</label>
                    </div>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-light text-neon-purple btn-standard-asset w-100" id="SendReserveCodeViaEmail_SbmtBtn">Check & Continue</button>
                        <button type="button" class="btn bg-neon-purple text-light btn-standard-asset w-100 mt-2" id="ChangeToSingleUseType_Btn">via Single-use Code</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="smallside-box-container shadow-standard" id="SubmitCode_Container">
        <div class="header-container p-2 pb-0 text-center" id="SubmitCode_Container-Header">
            <button type="button" class="btn btn-light btn-sm float-start me-1 btn-standard-asset" id="SendCodeAgain_Btn" disabled>Resend Code</button>
            <button type="button" class="btn btn-close btn-smallside-close btn-sm rounded-circle float-end ms-1" aria-label="close" id="SubmitCode_Container-Close"></button>
            <h5 class="h5 text-truncate p-1">Submit Code</h5>
        </div>
        <div class="box-container p-2 pt-1 mt-1" id="SubmitCode_Container-Box">
            <div>
                <form method="get" asp-controller="Account" asp-action="SubmitSingleUsingCode" id="SubmitSingleUsingCode_Form">
                    <div class="d-none">
                        <input type="hidden" name="Email" id="SubmitSingleUsingCode_Email_Val" value="@UserInfo.Email" />
                    </div>
                    <div>
                        <input name="Code" id="SubmitSingleUsingCode_Code_Val" class="special-form-control w-100" placeholder="8-digit code" maxlength="8" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="smallside-box-container shadow-standard" id="CreateNewPassword_Container">
        <div class="header-container p-2 pb-0 text-center" id="CreateNewPassword_Container-Header">
            <button type="button" class="btn btn-close btn-smallside-close btn-sm rounded-circle float-end ms-1" aria-label="close" id="CreateNewPassword_Container-Close"></button>
            <h5 class="h5 text-truncate p-1">Reset Password</h5>
        </div>
        <div class="box-container p-2 pt-1 mt-1" id="CreateNewPassword_Container-Box">
            <div>
                <form method="post" asp-controller="Account" asp-action="UpdatePassword" id="UpdatePassword_Form">
                    <div class="d-none">
                        <input type="hidden" name="Token" id="UpdatePassword_Token_Val" />
                        <input type="hidden" name="Email" id="UpdatePassword_Email_Val" value="@UserInfo.Email" />
                    </div>
                    <div class="form-floating">
                        <input type="password" name="Password" id="Password" class="form-control shadow-none form-control-check-input" data-bs-min-length="8" data-bs-html="ResetPassword_SbmtBtn" placeholder="Enter your new password here" />
                        <label for="Password" class="fw-500">Password</label>
                    </div>
                    <div class="ms-1">
                        <small class="card-text text-muted">Password must container [8-24] characters</small>
                    </div>
                    <div class="form-floating mt-3">
                        <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control shadow-none form-control-check-input" data-bs-min-length="8" data-bs-html="ResetPassword_SbmtBtn" placeholder="Confirm password" />
                        <label for="ConfirmPassword" class="fw-500">Confirm Password</label>
                    </div>
                    <div class="ms-1">
                        <small class="card-text text-muted">Submit your new password</small>
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn bg-neon-purple text-light btn-standard-asset w-100" id="UpdatePassword_SbmtBtn">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="main-container shadow-standard" id="Preloaded_Container">
    <div class="header-container p-2 text-center" id="Preloaded_Container-Header">
        <h5 class="h5 text-truncate p-1" id="HeaderText_Lbl">Account Security</h5>
    </div>
    <div class="box-container mt-2">
        <div class="text-center">
            @if (UserInfo.AvatarUrl == null)
            {
                <div class="image-picture-none-container text-center mx-auto" style="background-color: #@UserInfo.AvatarBgColor;" id="AvatarNone_Box">
                    <div class="unpictured-container-label" style="color: #@UserInfo.AvatarFgColor" id="UnpicturedAvatar_Lbl"> @ViewBag.UnpicturedAvatarInfo</div>
                </div>
                <div class="image-container text-center mx-auto" style="display: none;" id="Avatar_Box">
                    <img class="image-container" src="#" id="AvatarUrl_Id" />
                </div>
                <span class="h1" id="UserInfo_Pseudoname_Lbl">@UserInfo.PseudoName</span>
                <div></div>
                <small class="card-text text-muted" id="UserInfo_Shortname_Lbl">@@@UserInfo.ShortName</small>
            }
            else
            {
                <div class="image-picture-none-container text-center mx-auto" style="display: none; background-color: #@UserInfo.AvatarBgColor;" id="AvatarNone_Box">
                    <div class="unpictured-container-label" style="color: #@UserInfo.AvatarFgColor" id="UnpicturedAvatar_Lbl"> @ViewBag.UnpicturedAvatarInfo</div>
                </div>
                <div class="image-container text-center mx-auto" id="Avatar_Box">
                    <img class="image-container" src="/Avatars/@UserInfo.AvatarUrl" id="AvatarUrl_Id" />
                </div>
                <div class="mt-2"></div>
                <span class="h1" id="UserInfo_Pseudoname_Lbl">@UserInfo.PseudoName</span>
                <div></div>
                <small class="card-text text-muted" id="UserInfo_Shortname_Lbl">@@@UserInfo.ShortName</small>
            }
        </div>
        <div class="box-container mt-3">
            <div class="card-group">
                <div class="card border-0">
                    <div class="box-container p-2">
                        <h5 class="h5">Password Settings</h5>
                        @if(UserInfo.PasswordChanged != null)
                        {
                            <div class="box-container bg-light p-2 mt-2">
                                <small class="card-text fw-500">Last Change</small>
                                <div></div>
                                <small class="card-text text-muted" id="PasswordChangedDaysPassed_Lbl"><span class="fw-500" id="PasswordChangedDaysPassed_Span">@UserInfo.PasswordChanged.Value.ToString("dd/MM/yyyy"), at @UserInfo.PasswordChanged.Value.ToShortTimeString()</span></small>
                                <div></div>
                            </div>
                            <div class="box-container bg-light p-2 mt-2">
                                <small class="card-text fw-500">Can be Changed</small>
                                <div></div>
                                @if (ViewBag.DaysPassed > 28)
                                {
                                    <small class="card-text text-muted" id="CanPasswordBeChanged_Lbl">Password can be changed</small>
                                    <div class="mt-1"></div>
                                    <button type="button" class="btn btn-standard btn-sm btn-smallside-open-container" id="SecuritySettings_Container-Open"> <i class="fa-regular fa-pen-to-square"></i> Change</button>
                                }
                                else
                                {
                                    <small class="card-text text-muted" id="CanPasswordBeChanged_Lbl"><span class="fw-500">@ViewBag.DaysPassed</span>/28 days passed for another change</small>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="box-container bg-light p-2 mt-2">
                                <small class="card-text fw-500">Last Change</small>
                                <div></div>
                                <small class="card-text text-muted" id="PasswordChangedDaysPassed_Lbl">Your password has <span class="fw-500" id="PasswordChangedDaysPassed_Span">never</span> been changed before</small>
                                <div></div>
                            </div>
                            <div class="box-container bg-light p-2 mt-2">
                                <small class="card-text fw-500">Can be Changed</small>
                                <div></div>
                                <small class="card-text text-muted">Password can be changed</small>
                                <div class="mt-1"></div>
                                <button type="button" class="btn btn-standard btn-sm btn-smallside-open-container" id="SecuritySettings_Container-Open"> <i class="fa-regular fa-pen-to-square"></i> Change</button>
                            </div>
                        }
                    </div>
                </div>
                <div class="card border-0">
                    <div class="box-container p-2">
                        <h5 class="h5">Authentication</h5>
                        <div class="box-container bg-light mt-2 p-2">
                            <small class="card-text fw-500">Authentication</small>
                            <div></div>
                            @if (UserInfo.TwoFactorEnabled)
                            {
                                <small class="card-text text-muted" id="IsTwoFactorEnabled_Lbl">Two-factor authentication enabled by your email</small>
                            }
                            else
                            {
                                <small class="card-text text-muted" id="IsTwoFactorEnabled_Lbl">Two-factor authentication disabled. Click to activate it by your email</small>
                                <div class="mt-1"></div>
                                <button type="button" class="btn btn-standard btn-sm"> <i class="fa-solid fa-key"></i> Enable</button>
                            }
                        </div>
                        <div class="box-container bg-light p-2 mt-2">
                            <small class="card-text fw-500">About Authentication</small>
                            <div></div>
                            <small class="card-text text-muted">Click <a asp-controller="Home" asp-action="About" class="text-primary text-decoration-none">here</a> to know more about two-factor authentication</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
